  <form class="form-horizontal ajaxSubmit role-form" action="{:u('blockEdit')}" method="post">
  <div class="form-group">
    <label class="col-sm-2 control-label"><b class="red">*</b>标题:</label>
    <div class="col-sm-8">
      <input name="title" required class="form-control" value="{$row.title}">
    </div>
  </div>
   <div class="form-group">
    <label class="col-sm-2 control-label"><b class="red">*</b>状态:</label>
    <div class="col-sm-5">
	{:w('select/radio', $statusList)}
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label"><b class="red">*</b>内容:</label>
    <div class="col-sm-10">
    <ul class="banner-block-edit">
     <if condition="$row['content'] neq null">
       <foreach name="row.content" item="vo" key="k">
					<li class="form-group"> 
						<div class="row">
							<input name="url[{$k}]" required class="form-control banner-url col-sm-8" value="{$vo.url}" placeholder="链接">
							<div class="col-sm-2">
									<button type="button" class="banner-block-add">+</button>
									<button type="button" class="banner-block-sub">-</button>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-5">
								<input name="ptitle[{$k}]" required class="form-control banner-title" value="" placeholder="标题">
							</div>
							<div class="col-sm-4">
								<div class="input-group upload-img">
									{:w('upload/img2',$vo['imageArr'])}
								</div>
							</div>	
						</div>
					</li>
			</foreach>
		<else />	
			<li class="form-group"> 
				<div class="row">
					<input name="url[1]" required class="form-control banner-url col-sm-8" value="" placeholder="链接">
					<div class="col-sm-2">
							<button type="button" class="banner-block-add">+</button>
							<button type="button" class="banner-block-sub">-</button>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5">
						<input name="ptitle[1]" required class="form-control banner-title" value="" placeholder="标题">
					</div>
					<div class="col-sm-4">
						<div class="input-group upload-img">
							{:w('upload/img2',["image[1]","",''])}
						</div>
					</div>	
				</div>
			</li>
		</if>	
    </ul>    
    </div> 
  </div>
 
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
		<input type="hidden" name="id" value="{$row.id}" />
		<input type="hidden" name="type" value="1" />
		<button type="submit" class="btn btn-primary">提交</button>
    </div>
  </div>
</form> 
