<include file="Public:header" />
<div class="table-responsive shrink user">
	<!-- <form class="form-inline search clearfix">
	  <if condition="$timeArr">
		<div class="pull-left time-buttons">
		  <foreach name="timeArr" item="v">
			<a class="{$v['cur']?"cur":""}" href="{$v.url}">{$v.name}</a>
		  </foreach>
		{:w('form/node', $selectDate)}
		</div>
	  </if>
		<div class="btn-group pull-right">
		<input  class="form-control" name="keywords" type="text" placeholder="手机号或者昵称搜索" value="{$search.keywords}" >
		<button  class="form-control btn-info" >搜索</button>
		</div>
	</form> -->
	<form action="" class="form-inline search clearfix" method="GET">
		<input type="text" class="form-control" name="name" placeholder="请输入分类名" value="{$cateName}" />
		<input type="submit"  class="form-control btn-info" value="搜索">       			     
	</form>
	<table class="table table-striped user-list">
		<tr>  
		  <th>#</th>
		  <th>下级个数</th>
		  <th>名称</th>
		  <th>状态</th>
		  <th>排序</th> 
		  <th>添加时间</th> 
		  <th>更新时间</th> 
		  <th>操作</th>
		</tr>
		<foreach name="list" item="v">
		<tr>
			<td>{$v.id}</td>
			<td>{$v.number}</td>
			<td>{$v.name}</td>
			<td>{$v.statusName}</td>
			<td>{$v.rank}</td>
			<td>{$v.addTime}</td>
			<td>{$v.updateTime}</td>
			<td class="handle">
			    <a class="dialog add"  href="#" url="{:u('contentChildren',array('id'=>$v['id'],'name'=>$v['name']))}">添加子类</a>|
				<a class="dialog edit"  href="#" url="{:u('contentCateEdit','id=' . $v['id'])}">编辑</a>|
				<a class="ajaxDel del" href="#" url="{:u('contentCateDel','id=' . $v['id'])}">删除</a>
				
			</td>
		</tr>
		</foreach>
	</table>
	<div class="pager">{$pageVar}</div>
</div>
<import type="css" file="js.lib.daterangepicker.daterangepicker-bs3" />
<import file="js.lib.laydate.laydate,js.admin.user,js.lib.daterangepicker.moment#min,js.lib.daterangepicker.daterangepicker" />
<include file="Public:footer" />