<include file="Public:header" />
<div class="table-responsive shrink user">
	<form action="" class="form-inline search clearfix" method="GET">
		<input type="text" class="form-control" name="name" placeholder="请输入连接名" value="{$navigationName}" />
		<input type="submit"  class="form-control btn-info" value="搜索">       			     
	</form>
	<table class="table table-striped user-list">
		<tr>  
		  <th>链接名</th>
		  <th>logo</th>
		  <th>链接地址</th> 
		  <th>状态</th>
		  <th>排序</th>
		  <th>操作</th>
		</tr>
		<foreach name="list" item="v">
		<tr>
			<td id="row-{$v.id}">{$v.name}</td>
			<td><img src={$v.logo} width=25></td>
			<td>{$v.url}</td>
			<td <if condition="$v['status'] eq 1"> class="green"</if>>{$v.statusName}</td>
			<td>{$v.rank}</td>
			<td class="handle">
			    <a class="dialog add" href="#" url="{:u('navigationChildrenEdit',array('name'=>$v['name'],'pid'=>$v['id']))}">添加子类</a>
				<a class="dialog edit"  href="#" url="{:u('navigationEdit','id=' . $v['id'])}">编辑</a>|
				<a class="ajaxDel del" href="#" url="{:u('navigationDel','id=' . $v['id'])}">删除</a>
			</td>
		</tr>
		</foreach>
	</table>
	<div class="pager">{$pageVar}</div>
</div>
<import type="css" file="js.lib.daterangepicker.daterangepicker-bs3" />
<import file="js.lib.laydate.laydate,js.admin.user,js.lib.daterangepicker.moment#min,js.lib.daterangepicker.daterangepicker" />
<include file="Public:footer" />