<div class="footer-sec">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h3>关于公司</h3>
					<p style="padding-right:50px;">
						{$aboutOur.content.value}
					</p>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 social-div">
					<h3>联系方式</h3>
					<p>邮箱:{$config.email.value}</p>
					<p>电话:{$config.cellphone.value}</p>
					<p>手机:{$config.cellphone.value}</p>
					<p>微信:{$config.weixin.value}</p>
					
					
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<h3>公司地址</h3>
					<p>坐标：江苏省南京市</p>
					<p>地点：{$config.down.value}</p>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<hr />
					<div style="text-align:right;padding:5px;">
						&copy;{$config.right.value} | <a href="http://www.shixind.com/" target="_blank" title="实信达">{$config.appName.value}</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--FOOTER SECTION END-->
	<!-- WE PUT SCRIPTS AT THE END TO LOAD PAGE FASTER-->
	<!--CORE SCRIPTS PLUGIN-->
	<script src="__PUBLIC__/home/js/jquery-1.11.1.min.js"></script>
	<!--BOOTSTRAP SCRIPTS PLUGIN-->
	<script src="__PUBLIC__/home/js/bootstrap.js"></script>
	<!--WOW SCRIPTS PLUGIN-->
	<script src="__PUBLIC__/home/js/wow.js"></script>
	<!--FLEXSLIDER SCRIPTS PLUGIN-->
	<script src="__PUBLIC__/home/js/jquery.flexslider.js"></script>
	<!--CUSTOM SCRIPTS -->
	<script src="__PUBLIC__/home/js/custom.js"></script>