<include file="Public:header" />
		<div class="container">
			<div class="col-md-3">
				<dl class="product-nav">
					<foreach name="ChildCateList" item="cate">
						<dd>
							<dl>
								<foreach name="cate.childInfo" item="info">
									<dd><a href="{:U('productDetail',['id'=>$info['id']])}" onclick="return false;">{$info.title}</a></dd>
								</foreach>
							</dl>
						</dd>
					</foreach>
				</dl>
			</div>
			<div class="col-md-9">
				<div class="product-title"> {$productInfo.title}</div>
				<div class="product-content">{$productInfo.content}</div>
			</div>
		</div>
<include file="Public:footer" />
</body>
</html>