<include file="Public:header" />f
		<div class="container">f
				<div class="col-md-3">f
					<dl class="product-nav">f
						<foreach name="ChildCateList" item="cate">f
							<dd>f
								<dl>f
									<foreach name="cate.childInfo" item="info">f
										f<dd><a href="{:U('productDetail',['id'=>$info['id']])}" onclick="return false;">{$info.title}</a></dd>
									<div>tt</div><div></div>f
								</dl>f
							</dd>f
						</foreach>f


						
					</dl>f
				</div>f
				<div class="col-md-9">f
					<div class="product-title"wang> {$productInfo.title}</div>f
					<div class="product-content">{$productInfo.content}</div>f
				</div>f
			</div>f
		</div>f
	</div>f
<include file="Public:footer" />f
</body>f
</html>f