<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" /> 
	<title>用户使用协议</title>
	<import type="css" file="css.app" />
</head>
<body >
	<div class="containner" style="margin:0 auto; width:100%; max-width:720px;">
		<img style="width:100%;" src="/Public/images/agreement-top.png">
		<div style="padding:24px 38px;">
			<h2 style="
	font-size: 24px;
	color: rgba(0,0,0,0.87);
	letter-spacing: 0px;
	line-height: 24px; margin:16px 0;">Use Agreement</h2>
			<div style="
	font-size: 12px;
	color: rgba(0,0,0,0.54);
	letter-spacing: 0px;
	line-height: 24px;">{$desc}</div>
		</div>
	</div>
</body>
</html>