<include file="Public:header" />
	<!-- MENU SECTION END-->
	<div class="below-slideshow">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="txt-block">
						<h1 class="head-line">案例展示</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container ">
		<div class="row ">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h1 class="head-line">我们的客户</h1>
				<br />
			</div>
		</div>
		<div class="row ">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<hr />
				<div class="flexslider carousel">
					<ul class="slides">
						<li>
							<img src="__PUBLIC__/home/img/client.jpg" />
						</li>
						<li>
							<img src="__PUBLIC__/home/img/client.jpg" />
						</li>
						<li>
							<img src="__PUBLIC__/home/img/client.jpg" />
						</li>
						<li>
							<img src="__PUBLIC__/home/img/client.jpg" />
						</li>
						<li>
							<img src="__PUBLIC__/home/img/client.jpg" />
						</li>
						<li>
							<img src="__PUBLIC__/home/img/client.jpg" />
						</li>
						<li>
							<img src="__PUBLIC__/home/img/client.jpg" />
						</li>
						<li>
							<img src="__PUBLIC__/home/img/client.jpg" />
						</li>
						<li>
							<img src="__PUBLIC__/home/img/client.jpg" />
						</li>
						<li>
							<img src="__PUBLIC__/home/img/client.jpg" />
						</li>
						<li>
							<img src="__PUBLIC__/home/img/client.jpg" />
						</li>
						<li>
							<img src="__PUBLIC__/home/img/client.jpg" />
						</li>
						<li>
							<img src="__PUBLIC__/home/img/client.jpg" />
						</li>
						<li>
							<img src="__PUBLIC__/home/img/client.jpg" />
						</li>
						<li>
							<img src="__PUBLIC__/home/img/client.jpg" />
						</li>
						<li>
							<img src="__PUBLIC__/home/img/client.jpg" />
						</li>
						<li>
							<img src="__PUBLIC__/home/img/client.jpg" />
						</li>
						<li>
							<img src="__PUBLIC__/home/img/client.jpg" />
						</li>
						<li>
							<img src="__PUBLIC__/home/img/client.jpg" />
						</li>
						<li>
							<img src="__PUBLIC__/home/img/client.jpg" />
						</li>
					</ul>
				</div>
				<hr />
				<br />
			</div>
		</div>
	</div>
	
	<include file="Public:footer" />
</body>

</html>