<include file="Public:header" />
	<div class="news-section">
		<div class="container">
			<div class="row news-detail">
				<div class="col-md-9">
					<div class="news-title"><h2>{$row.title}</h2></div>
					<div class="news-info"><span>{$row.author}</span>.<span>{$row.publishTime}</span></div>
					<div class="news-content">{$row.content}</div>
					<div class="news-comment">
						<h4>新闻评论</h4>
						<textarea placeholder="请输入内容"></textarea>
						<!-- <textarea placeholder="请登录后评论" disabled></textarea> -->
						<div class="news-comment-user">
							<a href="/index/login">登录</a> 后评论
							<!--<a href="">用户名</a>-->
						</div>
						<button type="button" class="commit-comment">提交评论</button>
						<dl class="news-comment-list">
							<foreach name="commentList" item="vo">
								<dd>
									<dl>
										<dt><div><a href=""><img src=""></a></div></dt>
										<dd><a href="">{$vo.name}</a> · {$vo.addTime}</dd>
										<dd>{$vo.content}</dd>
										<dd><a href="" class="reply">回复</a></dd>
									</dl>
								</dd>
							</foreach>
							<div class="pager">{$pageVar}</div>	
						</dl>
					</div>
				</div>
				<div class="col-md-3">
					<div class="news-link">
						<h3>最新发布</h3>
						<foreach name='hotList' item='vo'>
						<div><a href="{:u('/Index/newsDetail',['id'=>$vo['id']])}">{$vo.title}</a>
						     <span>{$vo.publishTime}</span>
						</div>
						</foreach>
					</div>
					<div class="news-link">
						<h3>相关新闻</h3>
						<div><a href="">最新新闻1</a><span>时间</span></div>
						<div><a href="">最新新闻2</a><span>时间</span></div>
						<div><a href="">最新新闻3</a><span>时间</span></div>
						<div><a href="">最新新闻4</a><span>时间</span></div>
						<div><a href="">最新新闻5</a><span>时间</span></div>
					</div>
				</div>
			</div>
	</div>
		
	</div>
	
<include file="Public:footer" />
</body>
</html>