<include file="Public:header" />
<div class="below-slideshow">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="txt-block">
						<h1 class="head-line">新闻详情</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="news-section">
		<div class="container">
			<div class="row news-detail">
				<div class="col-md-9">
					<div class="news-title"></div>
					<div class="news-info"></div>
					<div class="news-content"></div>
				</div>
				<div class="col-md-3">
					<div class="news-link">
						<h3>最新发布</h3>
						<div><a href="">最新新闻1</a><span>时间</span></div>
						<div><a href="">最新新闻2</a><span>时间</span></div>
						<div><a href="">最新新闻3</a><span>时间</span></div>
						<div><a href="">最新新闻4</a><span>时间</span></div>
						<div><a href="">最新新闻5</a><span>时间</span></div>
					</div>
					<div class="news-link">
						<h3>相关新闻</h3>
						<div><a href="">最新新闻1</a><span>时间</span></div>
						<div><a href="">最新新闻2</a><span>时间</span></div>
						<div><a href="">最新新闻3</a><span>时间</span></div>
						<div><a href="">最新新闻4</a><span>时间</span></div>
						<div><a href="">最新新闻5</a><span>时间</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
<include file="Public:footer" />
</body>
</html>