<include file="Public:header" />
	<!-- MENU SECTION END-->
	<div class="below-slideshow">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="txt-block">
						<h1 class="head-line">新闻资讯</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- BELOW SLIDESHOW SECTION END-->
	<div class="news-section">
		<div class="container">
			<div class="row news-item">
				<div class="col-md-3 news-img">
					<img src="__PUBLIC__/home/img/portfolio/g.jpg" alt="">
				</div>
				<div class="col-md-9">
					<h4>新闻标题</h4>
					<div class="news-text">新闻内容：balabalabalabalabalabalabalabalabalabalabalabalabalabala......</div>
				</div>
			</div>
			<div class="row news-item">
				<div class="col-md-12">
					<h4>新闻标题</h4>
					<div class="news-text">新闻内容：balabalabalabalabalabalabalabalabalabalabalabalabalabala......</div>
				</div>
			</div>
			<div class="row news-item">
				<div class="col-md-3 news-img">
					<img src="../../../Public/home/img/portfolio/g.jpg" alt="">
				</div>
				<div class="col-md-9">
					<h4>新闻标题</h4>
					<div class="news-text">新闻内容：balabalabalabalabalabalabalabalabalabalabalabalabalabala......</div>
				</div>
			</div>
		</div>
	</div>
	<include file="Public:footer" />
</body>
</html>