<include file="Public:header" />
	<!-- MENU SECTION END-->
	<div class="below-slideshow">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="txt-block">
						<h1 class="head-line">新闻资讯</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- BELOW SLIDESHOW SECTION END-->
	<div class="news-section">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
					<div class="row news-item">
						<div class="col-md-4 news-img">
							<a href=""><img src="__PUBLIC__/home/img/portfolio/g.jpg" alt=""></a>
						</div>
						<div class="col-md-8">
							<h3><a href="">新闻标题</a></h3>
							<div class="news-text">新闻内容：balabalabalabalabalabalabalabalabalabalabalabalabalabala......</div>
						</div>
						<div class="news-info">
							<a href="">作者</a>·<span>发布时间</span>
						</div>
					</div>
					<div class="row news-item">
						<div class="col-md-12">
							<h3>新闻标题</h3>
							<div class="news-text">新闻内容：balabalabalabalabalabalabalabalabalabalabalabalabalabala......</div>
						</div>
					</div>
					<div class="row news-item">
						<div class="col-md-4 news-img">
							<img src="../../../Public/home/img/portfolio/g.jpg" alt="">
						</div>
						<div class="col-md-8">
							<h3>新闻标题</h3>
							<div class="news-text">新闻内容：balabalabalabalabalabalabalabalabalabalabalabalabalabala......</div>
						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="news-link">
						<h3>最新发布</h3>
						<div><a href="">最新新闻1</a><span>时间</span></div>
						<div><a href="">最新新闻2</a><span>时间</span></div>
						<div><a href="">最新新闻3</a><span>时间</span></div>
						<div><a href="">最新新闻4</a><span>时间</span></div>
						<div><a href="">最新新闻5</a><span>时间</span></div>
					</div>
					<div class="news-link">
						<h3>相关新闻</h3>
						<div><a href="">最新新闻1</a><span>时间</span></div>
						<div><a href="">最新新闻2</a><span>时间</span></div>
						<div><a href="">最新新闻3</a><span>时间</span></div>
						<div><a href="">最新新闻4</a><span>时间</span></div>
						<div><a href="">最新新闻5</a><span>时间</span></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<include file="Public:footer" />
</body>
</html>