<include file="Public:header" />
	<div class="news-section">
		<div class="container">
			<div class="row">
				<div class="col-md-9">
				 <foreach name="list" item="vo">	
					<div class="row news-item">
					<if condition = "$vo.cover neq null">
						<div class="col-md-4 news-img">
							<a href="{:u('/Index/newsDetail',['id'=>$vo['id']])}"><img src="{$vo.cover}" alt=""></a>
						</div>
						<div class="col-md-8 news-text-box">
							<h3><a href="{:u('/Index/newsDetail',['id'=>$vo['id']])}">{$vo.title}</a></h3>
							<div class="news-text">{$vo.content}</div>
						</div>
						<div class="news-info">
							<a href="{:u('/Index/newsDetail',['id'=>$vo['id']])}">{$vo.author}</a>·<span>{$vo.publishTime}</span>
						</div>
					<else />
						<div class="col-md-12 news-text-box">
							<h3><a href="{:u('/Index/newsDetail',['id'=>$vo['id']])}">{$vo.title}</a></h3>
							<div class="news-text">{$vo.content}</div>
						</div>
						<div class="news-info-full">
							<a href="{:u('/Index/newsDetail',['id'=>$vo['id']])}">{$vo.author}</a>·<span>{$vo.publishTime}</span>
						</div>
					</if>	
					</div>
				
				</foreach>
				<div class="pager">{$pageVar}</div>	
				</div>
				
				<div class="col-md-3">
					<div class="news-link">
						<h3>热门新闻</h3>
						<foreach name='hotList' item='vo'>
						<div><a href="{:u('/Index/newsDetail',['id'=>$vo['id']])}">{$vo.title}</a><span>{$vo.publishTime}</span></div>
						</foreach>
					</div>
				</div>
				
			</div>
		</div>
	</div>
	
	<include file="Public:footer" />
</body>
</html>