<include file="Public:header" />
	<!-- MENU SECTION END-->
	<div class="below-slideshow">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="txt-block">
						<h1 class="head-line">产品展示</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- BELOW SLIDESHOW SECTION END-->
	<div class="just-sec" id="port-folio">
		<div class="container">
			<div class="row ">
				<ul id="filters">
					<li><span class="filter active" data-filter="landscape nature awesome">All </span></li>
					<li><span class="filter active">/</span></li>
					<li><span class="filter" data-filter="landscape">Landscape</span></li>
					<li><span class="filter">/</span></li>
					<li><span class="filter" data-filter="nature">Nature</span></li>
					<li><span class="filter">/</span></li>
					<li><span class="filter" data-filter="awesome">Awesome</span></li>
				</ul>
				<div class="col-md-4 ">
					<div class="portfolio-item awesome mix_all" data-cat="awesome">
						<img src="__PUBLIC__/home/img/portfolio/g.jpg" class="img-responsive " alt="" />
						<div>
							<p>项目名称</p>
							<p>公司名称</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 ">
					<div class="portfolio-item landscape mix_all" data-cat="landscape">
						<img src="__PUBLIC__/home/img/portfolio/b.jpg" class="img-responsive " alt="" />
						<div>
							<p>项目名称</p>
							<p>公司名称</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 ">
					<div class="portfolio-item nature mix_all" data-cat="nature">
						<img src="__PUBLIC__/home/img/portfolio/c.png" class="img-responsive " alt="" />
						<div>
							<p>项目名称</p>
							<p>公司名称</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row " style="padding-top: 50px;">
				<div class="col-md-4 ">
					<div class="portfolio-item nature mix_all" data-cat="nature">
						<img src="__PUBLIC__/home/img/portfolio/d.jpg" class="img-responsive " alt="" />
						<div>
							<p>项目名称</p>
							<p>公司名称</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 ">
					<div class="portfolio-item nature mix_all" data-cat="nature">
						<img src="__PUBLIC__/home/img/portfolio/e.jpg" class="img-responsive " alt="" />
						<div>
							<p>项目名称</p>
							<p>公司名称</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 ">
					<div class="portfolio-item nature mix_all" data-cat="nature">
						<img src="__PUBLIC__/home/img/portfolio/h.jpg" class="img-responsive " alt="" />
						<div>
							<p>项目名称</p>
							<p>公司名称</p>
						</div>
					</div>
				</div>
			</div>
			<div class="row " style="padding-top: 50px;">
				<div class="col-md-4 ">
					<div class="portfolio-item nature mix_all" data-cat="nature">
						<img src="__PUBLIC__/home/img/portfolio/g.jpg" class="img-responsive " alt="" />
						<div>
							<p>项目名称</p>
							<p>公司名称</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 ">
					<div class="portfolio-item awesome mix_all" data-cat="awesome">
						<img src="__PUBLIC__/home/img/portfolio/b.jpg" class="img-responsive " alt="" />
						<div>
							<p>项目名称</p>
							<p>公司名称</p>
						</div>
					</div>
				</div>
				<div class="col-md-4 ">
					<div class="portfolio-item nature landscape mix_all" data-cat="nature landscape">
						<img src="__PUBLIC__/home/img/portfolio/c.png" class="img-responsive " alt="" />
						<div>
							<p>项目名称</p>
							<p>公司名称</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<include file="Public:footer" />
</body>
</html>