<include file="Public:header" />
	<div class="just-sec" id="port-folio">
		<div class="container">
			<div class="row ">
				<ul id="filters">
				<li><span class="filter active" ><a href="{:U('product')}">全部</a> /</span></li>
				<foreach name="ChildCateList" item="cate">
					<li><span class="filter active" ><a href="{:U('product',['cate_id'=>$cate['id']])}">{$cate.name}</a> /</span></li>
				</foreach>
				</ul>
				<foreach name="productList" item="product" >
				<div class="col-md-4 ">
					<div class="portfolio-item awesome mix_all" data-cat="awesome">
						<div class="product-img">
							<a href="{:U('productDetail',['id'=>$product['id']])}"><img src="__ROOT__{$product.cover}" class="img-responsive " alt="" /></a>
						</div>						
						<div>
							<p>{$product.title}</p>
							<p></p>
						</div>
					</div>
				</div>
				</foreach>
			</div>
			<div class="pager" >{$list.pageVar}</div> 
		</div>
	</div>
	<include file="Public:footer" />
</body>
</html>