<include file="Public:header" />
	<div class="below-slideshow">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="txt-block">
						<h1 class="head-line">产品详情</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="news-section">
		<div class="container">
			<div class="row news-detail">
				<div class="col-md-3">
					<dl class="product-nav">
						<dt>产品介绍</dt>
						
							<dd>
								<dl>
								<foreach name="ChildCateList" item="cate">
									<dt><span><a href="">{$cate.name}</a></span></dt>
										<foreach name="cate.childInfo" item="info">
											<dd><span><a href="{:U('productdetail',['id'=>$info['id']])}" data-id = {$info.id}>{$info.title}</a></span></dd>
										</foreach>
								</foreach>
										
								
								</dl>
							</dd>
						
					</dl>
				</div>
				<div class="col-md-9">
						<div class="product-title"> {$productInfo.title}</div>
						<div class="product-content">{$productInfo.content}</div>

				</div>
			</div>
		</div>
	</div>
<include file="Public:footer" />
</body>
</html>