<include file="Public:header" />
	<!-- MENU SECTION END-->
	<div class="below-slideshow">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="txt-block">
						<h1 class="head-line">产品展示</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- BELOW SLIDESHOW SECTION END-->
	<div class="just-sec" id="port-folio">
		<div class="container">
			<div class="row ">
				<ul id="filters">
				<li><span class="filter active" ><a href="{:U('product')}">全部</a> /</span></li>
				<foreach name="ChildCateList" item="cate">
					<li><span class="filter active" ><a href="{:U('product',['cate_id'=>$cate['id']])}">{$cate.name}</a> /</span></li>
				</foreach>
				</ul>
				<foreach name="productList" item="product" >
				<div class="col-md-4 ">
					<div class="portfolio-item awesome mix_all" data-cat="awesome">
						<div class="product-img">
							<img src="__ROOT__{$product.cover}" class="img-responsive " alt="" />
						</div>						
						<div>
							<p>{$product.title}</p>
							<p></p>
						</div>
					</div>
				</div>
				</foreach>
			</div>
		</div>
	
	<include file="Public:footer" />
</body>
</html>