<include file="Public:header" />
	<!-- MENU SECTION END-->
	<div class="below-slideshow">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="txt-block">
						<h1 class="head-line">服务项目</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- BELOW SLIDESHOW SECTION END-->
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h3 class="tag-home">本公司主要的服务项目是以互联网相关软件服务为主</h3>
				<hr />
			</div>
		</div>
	</div>
	<!-- TAG HOME SECTION END-->
	<div class="just-sec">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="just-txt-div">
						<i class="fa fa-exchange fa-3x"></i>
						<h4>微信公众号</h4>
						<p>
							本公司采用纯手工编码，精心调试制作2333333
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="just-txt-div">
						<i class="fa fa-key fa-3x"></i>
						<h4>Andriod App</h4>
						<p>
							项目尽可能的方便用户使用，降低学习成本
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="just-txt-div">
						<i class="fa fa-legal fa-3x"></i>
						<h4>iOS App</h4>
						<p>
							减少代码冗余，提高性能
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="just-txt-div">
						<i class="fa fa-bolt fa-3x"></i>
						<h4>HTML5网站</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis felis dolor vitae.
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="just-txt-div">
						<i class="fa fa-code fa-3x"></i>
						<h4>微信小程序</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis felis dolor vitae.
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="just-txt-div">
						<i class="fa fa-eyedropper fa-3x"></i>
						<h4>Support Included</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis felis dolor vitae.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<h3 class="tag-home">服务特色</h3>
				<hr />
			</div>
		</div>
	</div>
	<!-- TAG HOME SECTION END-->
	<div class="just-sec">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="just-txt-div">
						<i class="fa fa-exchange fa-3x"></i>
						<h4>微信公众号</h4>
						<p>
							本公司采用纯手工编码，精心调试制作2333333
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="just-txt-div">
						<i class="fa fa-key fa-3x"></i>
						<h4>Andriod App</h4>
						<p>
							项目尽可能的方便用户使用，降低学习成本
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="just-txt-div">
						<i class="fa fa-legal fa-3x"></i>
						<h4>iOS App</h4>
						<p>
							减少代码冗余，提高性能
						</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="just-txt-div">
						<i class="fa fa-bolt fa-3x"></i>
						<h4>HTML5网站</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis felis dolor vitae.
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="just-txt-div">
						<i class="fa fa-code fa-3x"></i>
						<h4>微信小程序</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis felis dolor vitae.
						</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<div class="just-txt-div">
						<i class="fa fa-eyedropper fa-3x"></i>
						<h4>Support Included</h4>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sagittis felis dolor vitae.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--SET-DIV SECTION END-->
	<include file="Public:footer" />
</body>
</html>