<include file="Public:header" />
<div class="user-section">
		<div class="container">
			<div class="col-md-3 user-nav">
				<dl>
					<dt><h4>用户中心</h4></dt>
					<dd class="user-nav-actived"><a href="{:U('user/index')}">账号管理</a></dd>
					<dd><a href="{:U('user/postList')}">帖子管理</a></dd>
					<dd><a href="{:U('user/message')}">消息通知</a></dd>
					<dd><a href="javascript:void(0);" class="login-out">退出</a></dd>
				</dl>
			</div>
			<div class="col-md-9 user-container">
				<div class="row">
					<div class="col-md-10">
						<h4>账号管理</h4>
						<form class="account-info-edit">
							<div class="row user-account">
								<span class="col-md-2">账号：</span>
								<span>{$user.mobile}</span>
							</div>
							<div class="row user-nickname">
								<label for="nickname" class="col-md-2">昵称：</label>
								<input type="text" class="col-md-4" name="nickname" value="{$user.nickname}">
							</div>
							<div class="row user-avatar">
								<label for="avatar" class="col-md-2">头像：</label>
								<div class="col-md-8">
									<div class="upload-clip-img">
										<button class="btn btn-default upload-file" type="button">本地文件</button>
										<button class="btn btn-default save" type="button">裁剪</button>
										<input type="file" id="file0" multiple="multiple" style="display:none">
										<div class="img-preview">
											<img style="max-width:100%;" src="" id="img0">
										</div>
									</div>
								</div>
							</div>
							<div class="row user-sex">
								<label for="sex" class="col-md-2">性别：</label>
								<div class="col-md-6">{:w('select/radio', $genderList)}</div>
							</div>
							<div class="row user-content">
								<label for="content" class="col-md-2">我的签名：</label>
								<textarea rows="" cols="" name="content" class="col-md-8" placeholder="最多200个字"></textarea>
							</div>
							<div class="row">
								<button type="button" class="commit-account col-md-offset-2">确认修改</button>
							</div>
						</form>
						<h4>修改密码</h4>
						<form class="modify-pass">
							<div class="row">
								<label for="" class="col-md-2">原密码：</label>
								<input type="password" name="password" class="col-md-5">
							</div>
							<div class="row">
								<label for="" class="col-md-2">新密码：</label>
								<input type="password" name="password_new" class="col-md-5 new-pass">
							</div>
							<div class="row">
								<label for="" class="col-md-2">确认密码：</label>
								<input type="password" name="password_check" class="col-md-5 confirm-pass">
							</div>
							<div class="row">
								<button type="button" class="commit-pass col-md-offset-2">确认修改</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
<include file="Public:footer" />
</body>

</html>