<include file="Public:header" />
<div class="win-reply-container">
	<div class="win-msg-reply">
		<h4>站内信回复<span>x</span></h4>
		<textarea cols="30" rows="10" placeholder="请输入内容"></textarea>
		<button type="button">提交</button>
	</div>
</div>
<div class="user-section">
		<div class="container">
			<div class="col-md-3 user-nav">
				<dl>
					<dt><h4>用户中心</h4></dt>
					<dd><a href="{:U('user/index')}">账号管理</a></dd>
					<dd><a href="{:U('user/postList')}">帖子管理</a></dd>
					<dd class="user-nav-actived"><a href="{:U('user/message')}">消息通知</a></dd>
					<dd><a href="javascript:void(0);" class="login-out">退出</a></dd>
				</dl>
			</div>
			<div class="col-md-9 user-container">
				<div class="tab-control">
					<a href="{:U('user/message')}" class="tab-message">所有消息</a><a href="{:U('user/message',['type'=>3])}" class="tab-message">站内信</a><a href="{:U('user/message',['type'=>'帖子回复'])}" class="tab-reply">帖子回复</a><a href="{:U('user/message',['type'=>0])}" class="tab-system">系统通知</a>
				</div>
				<!--站内信列表start-->
				<div class="message-list">
					<dl>
						<foreach name="list" item="v">
						<dd>
							<div class="message-thumb">
								<if condition="$v['isRead'] eq false">
									<span class="icon-unread"></span>
								</if>
								<div>{$v.contentThumb}</div>
								<in name="v.type" value="1,2">
									<a href="{$v['url']}" class="show-complete">...查看详情</a>
								</in>
								<if condition="$v['type'] eq 3">
									<a href="javascript:void(0);" class="show-complete" data-id="{$v.id}">...查看详情</a>
								</if>
								<if condition="$v['type'] eq 0">
									<a href="javascript:void(0);" class="show-complete" data-id="{$v.id}">...查看详情</a>
								</if>
							</div>
							<div class="message-complete"><div>{$v.content}</div><a href="javascript:void(0);" class="hide-complete">...收起</a></div>
							<div class="post-info">
								<span>时间：{$v.add_time}</span>
							</div>
							<div class="post-control">
								<in name="v.type" value="3"><a href="javascript:void(0);" class="msg-reply" data-user-id="{$v.user_id}">回复</a></in>
								<if condition="($v['type'] neq 1) and ($v['type'] neq 2)"><a class="post-del" href="javascript:void(0);" data-id="{$v.id}">删除</a></if>
							</div>
						</dd>
						</foreach>
					</dl>
					
					<div class="pager">{$pageVar}</div>
				</div>
				<!--站内信列表end-->
				<!--帖子回复列表start-->
					<div class="message-list">
					<!-- 	<dl>
							<dd>
								<div class="message-thumb"><span></span>消息缩略<a href="javascript:void(0);">...查看详情</a></div>
								<div class="reply-time">
									<span>时间：2017-5-4</span>
								</div>
							</dd>
						</dl>
						
						<div class="pager">{$pageVar}</div>
					</div>
				帖子回复列表end
				系统通知列表start
				<div class="message-list">
					<dl>
						<dd>
							<div class="message-thumb"><span></span>消息缩略<a href="javascript:void(0);">...查看详情</a></div>
							<div class="post-info">
								<span>时间：2017-5-4</span>
							</div>
							<div class="post-control">
								<a class="post-del" href="javascript:void(0);" data-id="">删除</a>
							</div>
						</dd>
					</dl>
					
					<div class="pager">{$pageVar}</div>
				</div> -->
				<!--系统通知列表end-->
			</div>
		</div>
	</div>
<include file="Public:footer" />
</body>

</html>