<include file="Public:header" />
	<div class="person-index"> 
		<div class="container">
			<div class="info-container row">
				<div class="row info-title">
					<div class="col-md-2">
						<img src="" alt="">
					</div>
					<div class="col-md-10">
						<h4>用户名</h4>
						<a href="">http://shixinda.cc/user/personInfo</a>
					</div>
				</div>
				<div class="row tab-control">
					<a href="javascript:void(0);" class="tab-actived">个人资料</a><a href="javascript:void(0);">主题</a>
				</div>
				<div class="person-data">
					<dl class="row basic-info">
						<dt>用户名(UID:11111111)</dt>
						<dd>统计信息：回帖数2 | 主题数0 | 赞91</dd>
					</dl>
					<dl class="row active-info">
						<dt>活跃概况</dt>
						<dd>在线时间：5小时</dd>
						<dd>注册时间：2017-5-1 08:00</dd>
						<dd>最后活动时间：2017-5-1 08:00</dd>
						<dd>上次发表时间：2017-5-1 08:00</dd>
					</dl>
				</div>
				<div class="person-post row">
					<div class="switch-link">
						<a href="">主题</a><a href="">回复</a>
					</div>
					<dl>
						<dt></dt>
						<dd></dd>
					</dl>
				</div>
			</div>
		</div>
	</div>		
<include file="Public:footer" />
</body>
</html>