<include file="Public:header" />
<div class="user-section">
		<div class="container">
			<div class="col-md-3 user-nav">
				<dl>
					<dt>用户中心</dt>
					<dd><a href="{:U('user/index')}">账号管理</a></dd>
					<dd class="user-nav-actived"><a href="{:U('user/postList')}">帖子管理</a></dd>
					<dd><a href="javascript:void(0);" class="login-out">退出</a></dd>
				</dl>
			</div>
			<div class="col-md-9 user-container">
				<h4 class="post-manage-title">我的帖子<a href="{:U('user/postEdit')}">帖子添加</a></h4>
				<!--帖子列表-->
				<div class="post-manage-list">
					<dl>
						<foreach name="list" item="v" >
							<dd>
								<div class="post-title"><h4><a href="{:U('post/postdetail',['id'=>$v['id']])}">{$v.title}</a></h4></div>
								<div class="post-info">
									<span>发布：{$v.add_time}</span>
									<span>查看：{$v.click}</span>
									<span>评论：{$v.num}</span>
								</div>
								<div class="post-control">
									<a href="{:U('postEdit',['id'=>$v['id']])}" >编辑</a>
									<a class="post-del" href="javascript:void(0);" data-id="{$v.id}">删除</a>
								</div>
							</dd>
						</foreach>
					</dl>
					
					<div class="pager">{$pageVar}</div>
				</div>
				<!--帖子列表end-->
			</div>
		</div>
	</div>
<include file="Public:footer" />
</body>

</html>