<include file="Public:header" />
<div class="user-section">
		<div class="container">
			<div class="col-md-3 user-nav">
				<dl>
					<dt><h4>用户中心</h4></dt>
					<dd><a href="{:U('user/index')}">账号管理</a></dd>
					<dd><a href="{:U('user/postList')}">帖子管理</a></dd>
					<dd><a href="{:U('user/message')}">消息通知</a></dd>
					<dd class="user-nav-actived"><a href="{:U('user/systemMessage')}">系统通知</a></dd>
					<dd><a href="javascript:void(0);" class="login-out">退出</a></dd>
				</dl>
			</div>
			<div class="col-md-9 user-container">
				<h4 class="post-manage-title">系统通知</h4>
				
				<!--系统通知内容-->
				<div class="message-content"></div>
			</div>
		</div>
	</div>
<include file="Public:footer" />
</body>

</html>