<include file="Public:header" />
	<div class="person-index"> 
		<div class="container">
			<div class="info-container row">
				<div class="row info-title">
					<div class="col-md-2">
						<img src="" alt="">
					</div>
					<div class="col-md-10">
						<h4>用户名</h4>
						<a href="">http://shixinda.cc/user/personInfo</a>
					</div>
				</div>
				<div class="row tab-control">
					<a href="javascript:void(0);" class="tab-actived tab-data">个人资料</a><a href="javascript:void(0);" class="tab-theme">主题</a>
				</div>
				<div class="person-data">
					<dl class="row basic-info">
						<dt>用户名(UID:11111111)</dt>
						<dd>统计信息：回帖数2 | 主题数0 | 赞91</dd>
					</dl>
					<dl class="row active-info">
						<dt>活跃概况</dt>
						<dd>在线时间：5小时</dd>
						<dd>注册时间：2017-5-1 08:00</dd>
						<dd>最后活动时间：2017-5-1 08:00</dd>
						<dd>上次发表时间：2017-5-1 08:00</dd>
					</dl>
				</div>
				<div class="person-post row">
					<div class="switch-link">
						<a href="javascript:void(0);" class="actived switch-theme">主题</a> | <a href="javascript:void(0);" class="switch-reply">回复</a>
					</div>
					<dl class="post-theme">
						<dt>
							<dl class="row">
								<dd class="col-md-6">主题</dd>
								<dd class="col-md-3">分类</dd>
								<dd class="col-md-3">回复/查看</dd>
							</dl>
						</dt>
						<dd>
							<dl class="row">
								<dd class="col-md-6"><a href="">帖子标题</a></dd>
								<dd class="col-md-3"><a href="">分类</a></dd>
								<dd class="col-md-3">10/10</dd>
							</dl>
						</dd>
					</dl>
					<dl class="post-reply">
						<dt class="row">
							<dl>
								<dd class="col-md-6">帖子</dd>
								<dd class="col-md-3">分类</dd>
								<dd class="col-md-3">回复/查看</dd>
							</dl>
						</dt>
						<dd>
							<dl>
								<dd class="col-md-6"><a href="">帖子标题</a></dd>
								<dd class="col-md-3"><a href="">分类</a></dd>
								<dd class="col-md-3">10/10</dd>
							</dl>
						</dd>
					</dl>
				</div>
			</div>
		</div>
	</div>		
<include file="Public:footer" />
</body>
</html>