<include file="Public:header" />
	<div class="person-index"> 
		<div class="container">
			<div class="info-container row">
				<div class="row info-title">
					<div class="col-md-2">
						<img src="{$person.avatar}" alt="">
					</div>
					<div class="col-md-10">
						<h4>用户名:<if condition="$person['nickname']">{$person.nickname}<else/>{$person.mobile}</if></h4>
						<a href="">http://shixinda.cc/user/personInfo/userId/{$person.id}</a>
					</div>
				</div>
				<div class="row tab-control">
					<a href="javascript:void(0);" class="tab-actived tab-data">个人资料</a><a href="{:U('post/personInfo',['userId'=>$person['id'],'act' => 'original'])}" class="tab-subject">主题</a>
				</div>
				<!-- 个人start -->
				<div class="person-data">
				
					<dl class="row basic-info">
						<dt><if condition="$person['nickname']">{$person.nickname}<else/>{$person.mobile}</if>(UID:{$person.id})</dt>
						<dd>统计信息：回帖数{$person.commentNum} | 主题数{$person.postNum} | 赞{$person.zanNum}</dd>
					</dl>
					<dl class="row active-info">
						<dt>活跃概况</dt>
						<dd>总在线时间：{$person.online_time}</dd>
						<dd>注册时间：{$person.add_time}</dd>
						<dd>最后活动时间：{$person.last_logout}</dd>
						<dd>上次发帖时间：{$person.last_post_time}</dd>
					</dl>
				</div>
				<!-- 个人end -->
				<div class="person-post row">
					<div class="switch-link">
						<a href="{:U('post/personInfo',['userId'=>$person['id'],'act' => 'original'])}" class="actived switch-subject">主题</a> | <a href="{:U('post/personInfo',['userId'=>$person['id'],'act' => 'reply'])}" class="switch-reply">回复</a>
					</div>
					<dl class="post-subject">
						<dt>
							<dl class="row">
								<dd class="col-md-6">主题</dd>
								<dd class="col-md-3">分类</dd>
								<dd class="col-md-3">回复/查看</dd>
							</dl>
						</dt>
						<!-- 主题start -->
						<dd>
							<foreach name="postList" item="v">
								<dl class="row">
									<dd class="col-md-6"><a href=""><a href="{:U('post/postDetail',['id'=>$v['id']])}">{$v.title}</a></a></dd>
									<dd class="col-md-3"><a href="">{$v.cateName}</a></dd>
									<dd class="col-md-3">{$v.comment_num}/{$v.click}</dd>
								</dl>
							</foreach>
							<div class="pager">{$pageVar}</div>
						</dd>
						<!--主题start -->
					</dl>
					<dl class="post-reply">
						<dt class="row">
							<dl>
								<dd class="col-md-6">帖子</dd>
								<dd class="col-md-3">分类</dd>
								<dd class="col-md-3">回复/查看</dd>
							</dl>
						</dt>
						<dd>
						<foreach name="personReplay" item="vo">
							<dl>
								<dd class="col-md-6"><a href="{:U('post/postDetail',['id'=>$vo['post_id']])}">{$vo.title}</a></dd>
								<dd class="col-md-3"><a href="">{$vo.cateName}</a></dd>
								<dd class="col-md-3">{$vo.replayNum}/{$vo.clickNum}</dd>
							</dl>
						</foreach>
						</dd>
						<div class="pager">{$pageVar}</div>
					</dl>
				</div>
			</div>
		</div>
	</div>		
<include file="Public:footer" />
</body>
</html>