<include file="Public:header" />
	<div class="post-list-page"> 
		<div class="container">
			<div class="row post-classify-title">
				<h2>{$name}</h2>
				<span>今日：<span>{$todayPostNum}</span></span>
				<span>主题：<span>{$mainPostNum}</span></span>
			</div>
			<div class="row post-list">
				<div class="col-md-9">
					<dl class="post-list-filter">
						<dt><a href="{:U('post/postList',['post_cate_id2'=>$post_cate_id2])}">全部</a></dt>
						<foreach name="childrenList" item="vo">
							<dd><a href="{:U('post/postList',['post_cate_id2'=>$post_cate_id2, 
							'post_cate_id3'=>$vo['id']])}">{$vo.name}<small>({$vo.count})</small></a></dd>
						</foreach>
					</dl>
					<dl>
					<foreach name="list" item="vo">
						<dd class="post-list-item">
							<a href="{:u('post/personInfo', ['userId'=>$user['id']])}"><img src="{$user.avatar}" alt=""></a>
							<div class="post-item-info">
								<a href="{:U('post/postdetail',['id'=>$vo['id']])}">{$vo.title}</a>
								<p>
									<a href="{:u('post/personInfo', ['userId'=>$user['id']])}">{$vo.username}</a>
									<span><span>{$vo.addTime}</span>发表</span>
									<span>最后回复 <a href="{:u('post/personInfo', ['userId'=>$vo['lastReplyUserId']])}">
									               {$vo.lastReplyUserName}</a>
									</span>
								</p>
							</div>
							
							<span>{$vo.click}/{$vo.comment_num}</span>
						</dd>
					</foreach>
					<div class="pager">{$pageVar}</div>
					</dl>
				</div>
				<div class="col-md-3">
					<a href="/User/postEdit">我要发帖</a>
					<foreach>
						<dl>
							<dt>商户交流</dt>
							<foreach name="customList" item="vo">
								<dd><a href="{:u('post/postDetail', ['id'=>$vo.id])}">{$vo.title}</a></dd>
							</foreach>
						</dl>
					</foreach>
				</div>
			</div>
		</div>
	</div>      
<include file="Public:footer" />
</body>
</html>