<include file="Public:header" />
<div class="win-tip-container">
	<div class="win-tip-bg">
	</div>
	<div class="win-tip">
		<h4>举报内容<span>x</span></h4>
		<textarea cols="30" rows="10" placeholder="五十字以内" maxlength="50"></textarea>
		<button type="button">提交</button>
	</div>
</div>
<div class="win-reply-container">
	<div class="win-reply">
		<h4>回复评论<span>x</span></h4>
		<textarea cols="30" rows="10" placeholder="请输入内容"></textarea>
		<button type="button">提交</button>
	</div>
</div>
	<div class="post-detail-page" data-id="{$postRow.id}"> 
		<div class="container">
			<div class="row post-title">
				<a href="{:u('post/personInfo', ['userId'=>$postRow['userId']])}"><img src="{$postRow.avatar}" alt=""></a>
				<h3>{$postRow.title}</h3>
				<p>
					<a href="{:u('post/personInfo', ['userId'=>$userRow['id']])}">{$userRow.nickname}</a>
					<span>{$postRow.addTime} 发表</span>
					<span>阅读：<span>{$postRow.click}</span></span>
					<span>回复：<span>{$postRow.comment_num}</span></span>
					<if condition="$viewHost neq 1">
					 <a href="{:u('post/postDetail', ['id'=>$postRow['id'], 'viewHost'=>1])}">只看楼主</a>
					<else/>
					 <a href="{:u('post/postDetail', ['id'=>$postRow['id']])}">显示全部楼层</a>
					</if>
				</p>
			</div>
			<div class="row post-detail">
				<div class="col-md-9">
					<div class="row post-content">
						<div>
						  {$postRow.content}
						</div>
						<div class="post-handle">
	                       					
							<a href="javascript:void(0);" class="post-collect">
								<if condition="$postRow['isCollect']">已</if>收藏<span>({$postRow.collectNum})</span>
							</a>
						  
							<a href="javascript:void(0);" class="post-support">
							    <if condition="$postRow['isSupport']">已</if>赞<span>({$postRow.supportNum})</span>
							</a>
				
							<a href="javascript:void(0);" class="post-oppose">
							    <if condition="$postRow['isSupport'] heq 0">已</if>踩<span>({$postRow.notSupportNum})</span>
							</a>
				
							<p>
							<if condition="$postRow['isReport']">
							  <a href="javascript:void(0);">
							       已举报({$postRow.reportNum})</a>
							<else />
							  <a href="javascript:void(0);" class="post-tip">
							       举报<span>({$postRow.reportNum})</span></a>
							</if> 
							</p>
						</div>
					</div>
					<foreach name="list" item="vo" key="k">
						<div class="row post-comment-item">
							<div class="col-md-2"><a href="{:u('post/personInfo', ['userId'=>$vo['user_id']])}"><img src="{$vo.avatar}" alt=""></a></div>
							<div class="col-md-10">
								<ul>
									<li><a href="{:u('post/personInfo', ['userId'=>$vo['user_id']])}">{$vo.userName}</a> {$vo.addTime} 发表
									    <span class="comment-floor <if condition="$vo['floor'] lt 3">floor</if> ">{$vo.floorName}</span></li>
									<li>
										<div class="comment-content">
										<if condition="$vo['reply_id'] neq 0"> 
											<blockquote cite="">
												<span id="comment-{$vo.reply_id}">{$vo.replyUserName} 发表于{$vo.replyAddTime}</span>{$vo.replyContent}
											</blockquote>
										<else />
										</if>	
											<span id="comment-{$vo.id}">{$vo.content}</span>
										</div>
									</li>
									<li class="comment-handle" data-id="{$vo.id}">
										<a href="javascript:void(0);" class="comment-reply" data-id="{$vo.id}">回复</a>
										<a href="javascript:void(0);" class="comment-support">
							             <if condition="$vo['isSupport']">已</if>赞<span>({$vo.supportNum})</span>
							            </a>
							            <a href="javascript:void(0);" class="comment-oppose">
							             <if condition="$vo['isSupport'] heq 0">已</if>踩<span>({$vo.notSupportNum})</span>
							            </a>
										<span>
											<if condition="$vo['isReport']">
												<a href="javascript:void(0);">
											      已举报({$vo.reportNum})</a>
											<else />
											  <a href="javascript:void(0);" class="post-tip">
											       举报<span>({$vo.reportNum})</span></a>
											</if>
										</span>
									</li>
								</ul>
							</div>
						</div>
					</foreach>
					<div class="row post-pager">
						<if condition="$page egt 2">
							<div class="pager">{$pageVar}</div>
						<else />
						</if>
					</div>
					<div class="row back-list">
						<a href="{:u('post/postList', $idArr)}">返回列表</a>
					</div>
					<div class="row pub-comment">
					    <if condition="$user neq null">
						 <textarea rows="" cols="" placeholder="请填写评论内容"></textarea>
						<else/>
						<textarea rows="" cols="" placeholder="请先登录后评论" disabled></textarea>
						</if>
						<button type="button" class="btn-pub-comment">发表评论</button>
					</div>
				</div>
				<div class="col-md-3">
					<a href="/User/postEdit">我要发帖</a>
					<foreach>
						<dl>
							<dt>商户交流</dt>
							<foreach name='customList' item='vo'>
								<dd><a href="{:u('post/postDetail', ['id'=>$vo['id']])}">{$vo.title}</a></dd>
							</foreach>
						</dl>
					</foreach>
				</div>
			</div>
		</div>
	</div>
<include file="Public:footer" />
</body>
</html>