<include file="Public:header" />
<div class="win-tip-container">
	<div class="win-tip-bg">
	</div>
	<div class="win-tip">
		<h4>举报内容</h4>
		<textarea cols="30" rows="10" placeholder="五十字以内" maxlength="50"></textarea>
		<button type="button">提交</button>
	</div>
</div>
	<div class="post-detail-page" data-id="{$postRow.id}"> 
		<div class="container">
			<div class="row post-title">
				<a href="{:u('post/userInfo', ['userId'=>$userRow['id']])}"><img src="{$userRow.avatar}" alt=""></a>
				<h3>{$postRow.title}</h3>
				<p>
					<a href="">{$userRow.nickname}</a>
					<span>{$postRow.addTime}发表</span>
					<span>阅读：<span>{$postRow.click}</span></span>
					<span>回复：<span>{$replyNum}</span></span>
					<if condition="$viewHost neq 1">
					 <a href="{:u('post/postDetail', ['id'=>$postRow['id'], 'viewHost'=>1])}">只看楼主</a>
					<else/>
					 <a href="{:u('post/postDetail', ['id'=>$postRow['id']])}">显示全部楼层</a>
					</if>
				</p>
			</div>
			<div class="row post-detail">
				<div class="col-md-9">
					<div class="row post-content">
						<div>
						  {$postRow.content}
						</div>
						<div class="post-handle">
							<a href="javascript:void(0);" class="post-collect">已收藏<span>(12)</span></a>
							<a href="javascript:void(0);" class="post-support">赞<span>(12)</span></a>
							<a href="javascript:void(0);" class="post-oppose">踩<span>(12)</span></a>
							<p><a href="javascript:void(0);" class="post-tip">举报</a></p>
						</div>
					</div>
					<div class="row post-comment-item">
					    <foreach name="list" item="vo">
						<div class="col-md-2"><a href=""><img src="{$vo.avatar}" alt=""></a></div>
						<div class="col-md-10">
							<ul>
								<li><a href="">{$vo.username}</a> {$vo.addTime} 发表<span class="comment-floor floor-2">沙发</span></li>
								<li>
									<div class="comment-content">
										<blockquote cite="">
											内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容内容
										</blockquote>
										{$vo.content}
									</div>
								</li>
								<li class="comment-handle">
									<a href="javascript:void(0);">支持</a>
									<a href="javascript:void(0);">反对</a>
									<a href="javascript:void(0);" class="post-tip" data-id="{$vo.id}">举报</a>
								</li>
							</ul>
						</div>
						</foreach>
					</div>
					<div class="row post-pager"></div>
					<div class="row back-list">
						<a href="{:u('post/postList', $idArr)}">返回列表</a>
					</div>
					<div class="row pub-comment">
					    <if condition="$user neq null">
						 <textarea rows="" cols="" placeholder="请填写评论内容"></textarea>
						<else/>
						<textarea rows="" cols="" placeholder="请先登录后评论" disabled></textarea>
						</if>
						<button type="button" class="btn-pub-comment">发表评论</button>
					</div>
				</div>
				<div class="col-md-3">
					<a href="/User/postEdit">我要发帖</a>
					<foreach>
						<dl>
							<dt>商户交流</dt>
							<foreach>
								<dd><a href="">商户交流信息</a></dd>
							</foreach>
						</dl>
					</foreach>
				</div>
			</div>
		</div>
	</div>
<include file="Public:footer" />
</body>
</html>