/* =============================================================
   GENERAL STYLES
 ============================================================ */

body {
	font-family: '微软雅黑';
	font-size: 14px;
}

h1,
h2,
h4 {
	font-family: 'Open Sans', sans-serif;
}
a:hover{
	color: #1C86EE !important;
	background-color: transparent !important;
}
.just-txt-div {
	padding-bottom: 30px;
	padding-top: 30px;
}

.just-txt-div p {
	padding-top: 10px;
}

.head-line {
	font-weight: 500;
	text-align: center;
	font-size: 30px;
}

.pad-set {
	padding-top: 30px;
	padding-bottom: 30px;
}

.pad-top {
	padding-top: 50px;
}


/* =============================================================
   NAVBAR & MENU STYLES
 ============================================================ */
 
.right-div {
	float: right;
	padding: 20px;
	font-size: 20px;
}

.logo {
	height: 57px;
	margin: 0;
	padding-top: 15px;
}
.logo a {
	display: block;
	text-shadow: 3px 3px 5px #ccc;
}
.logo a:hover {
	color: #428bca;
	display: block;
}
.logo .logo-text{
	font-size: 20px;
}
.logo .web-site{
	font-size: 12px;
}

#menu-top li a {
	color: #000;
	text-decoration: none;
	font-weight: 500;
	padding: 25px 15px 25px 15px;
	font-size: 16px;
	border-bottom: 2px solid transparent;
}

.menu-section {
	background-color: #fff;
	box-shadow: 0px 1px 15px 0px #ddd;
	width: 100%;
	position: fixed;
	z-index: 11;
}

.under-menu-section {
	height: 72px;
}

#menu-top li a.menu-top-active {
	border-bottom: 2px solid #1C86EE;
}

.navbar-inverse {
	background-color: #FFF;
	border-color: rgba(155, 153, 153, 0.23);
}

.navbar {
	min-height: 70px;
	margin-bottom: 0px;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
	border-color: transparent;
}

.navbar-toggle {
	background-color: black;
	border: 1px solid black;
}
#menu-top{
	 margin-right: 0;
 }
#menu-top li{
	 position: relative;
 }
#menu-top li ul{
	 display: none;
	 padding: 0;
	 list-style: none;
	 position: absolute;
	 background-color: #fff;
 }
#menu-top ul li a{
	display: block;
	color: #000;
	text-decoration: none;
	font-weight: 500;
	padding: 5px 15px;
	font-size: 16px;
	border-top: 1px solid #fff;
	white-space: nowrap;
 }
#menu-top ul li:hover ul{
	 display: block;
 }
#menu-top li:hover ul{
	display: block;
 }
#menu-top .btn-login{
	display: inline-block;
	line-height: 27px;
	text-align: center;
	width: 60px;
	height: 27px;
	border-radius: 3px;
	border: 1px solid #1C86EE;
	color: #1C86EE; 
	font-size: 14px;
	margin:20px 10px 0 20px;
}
#menu-top .btn-regist{
	display: inline-block;
	line-height: 27px;
	text-align: center;
	width: 60px;
	height: 27px;
	border-radius: 3px;
	border: 1px solid #1C86EE;
	background-color: #1C86EE;
	color: #fff; 
	font-size: 14px;
	margin-top: 21px;
}
.menu-section #menu-top .user-nav{
	float: right;
}
.menu-section #menu-top .nav-avatar+a{
	padding: 0;
	line-height: 70px;
	overflow: hidden;
}
.menu-section #menu-top .nav-avatar{
	width: 35px;
	height: 35px;
	border-radius: 30px;
	overflow: hidden;
	float: left;
	margin: 20px 10px 0 10px;
}
.menu-section #menu-top .nav-avatar img{
	width: 35px;
	height: 35px;
}

/* =============================================================
   SLIDESHOW / CAROUSEL STYLES
 ============================================================ */
@media screen and (min-width: 768px){
	.carousel-caption {
		left: 10%;
	}
}
.carousel-caption {
	top: 50px;
}

.carousel-caption h1 {
	text-align: center;
	font-size: 26px;
	font-weight: 400;
	background-color: rgba(0, 0, 0, 0.65);
	max-width: 440px;
	padding: 15px 25px;
}

.carousel-caption h2 {
	text-align: center;
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.65);
	max-width: 340px;
	padding: 15px 25px;
}

.copyrights {
	text-indent: -9999px;
	height: 0;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
}


/* =============================================================
	PAGE STYLES
 ============================================================ */

.below-slideshow {
	color: #fff;
	background: #1C86EE;
	padding-bottom: 30px;
}

.below-slideshow i {
	padding-bottom: 15px;
}

.below-slideshow .txt-block {
	padding-top: 20px;
}

.below-slideshow h4 {
	font-weight: 400;
	font-size: 20px;
}

.below-slideshow p {
	padding-right: 30px;
	font-size: 16px;
}

.tag-home {
	padding-top: 30px;
	font-size: 30px;
	text-align: center;
}

.parallax-like {
	margin-top: 20px;
	margin-bottom: 20px;
	background: url(../img/par.jpg) no-repeat center center;
	padding: 0;
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;
	background-attachment: fixed;
}

.parallax-like .overlay {
	background: rgba(15, 15, 15, 0.66);
	font-size: 30px;
	text-align: center;
}

.vedio-style {
	border: 0px;
	width: 100%;
	min-height: 300px;
}

.just-sec {
	padding-top: 50px;
	padding-bottom: 50px;
}

.set-div {
	border: 1px solid #01a2a6;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.footer-sec {
	margin-top: 50px;
	padding-top: 30px;
	color: #fff;
	background: rgba(10, 10, 10, 0.86);
	padding-bottom: 20px;
}

.flexslider {
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
	-moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
	-o-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

.social-div a,
a:hover {
	color: #bbb;
	text-decoration: none;
}

.set-about-img {
	border: 10px double #01a2a6;
	max-height: 200px;
}


/*==========================================
   GALLERY/ PORTFOLIO STYLES
	=====================================================*/

#port-folio {
	padding-top: 30px;
	padding-bottom: 50px;
}

.portfolio-item {
	border: 1px solid #ddd;
	padding: 5px;
	border-radius: 2px;
    margin: 3px;
    box-shadow: 1px 2px 5px 0 rgba(7,17,27,.1);
	transition: .3s all linear;
}
.portfolio-item:hover{
	box-shadow: 0 4px 16px 0 rgba(7,17,27,.2);
}

.portfolio-item div {
	padding: 20px 20px 0 20px;
}

/*==========================================
   GALLERY/ PORTFOLIO FILTER STYLES
	=====================================================*/

ul#filters {
	padding: 0px;
}

#filters {
	margin: 3% 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

#filters li {
	display: -webkit-inline-box;
}

#filters li span {
	display: block;
	padding: 5px 4px;
	text-decoration: none;
	color: #d51111;
	cursor: pointer;
	font-size: 18px;
}

#port-folio .portfolio-item {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width: 100%;
	/*opacity: .2;*/
	float: left;
	overflow: hidden;
	margin: 0 0 40px 0;
}
.portfolio-item .product-img{
	height: 310px;
	padding: 0;
}
.portfolio-item img{
	max-height: 100%;
	margin: 0 auto;
}

/* =============================================================
  MEDIA QUERIES 
 ============================================================ */

@media (min-width: 740px) and (max-width: 1040px) {
	.carousel-caption h2 {
		display: none;
	}
}

@media (min-width: 100px) and (max-width: 740px) {
	.carousel-caption h1 {
		display: none;
	}
	.carousel-caption h2 {
		display: none;
	}
}
/*override*/
.flexslider{
	margin: 0 0 40px 0;
}

/*news*/
.news-section{
	padding: 40px 0 40px 0;
}
.news-section .news-item{
	min-height: 100px;
	padding: 15px 0 15px 0;
	border-top:1px solid #ccc;
	position: relative;
}
.news-section .news-item:last-child{
	border-bottom: 1px solid #ccc; 
}
.news-section .news-item .news-img{
	text-align: center;
}
.news-section .news-item .news-img img{
	max-width: 100%;
	max-height: 200px;
}
.news-item h3{
	margin-top: 0;
}
.news-item a{
	color: #000;
}
.news-item .news-info{
	position: absolute;
	bottom: 15px;
	margin-left: 35%;
	font-size: 14px;
}
.news-link{
	margin: 0 0 30px 0;
}
.news-link h3{
	text-align: center;
	margin: 0;
	padding: 10px 0;
	font-size: 20px;
	border-top: 2px solid #1C86EE;
	border-bottom: 1px dotted #ccc;
}
.news-link div{
	padding-left: 13px;
	margin: 10px 0 10px 3px;
	background: url('../../css/images/icon-arrow.png') no-repeat 3px 7px;
}
.news-link div a{
	color: #000;
}
.news-link div span{
	display: block;
	font-size: 12px;
}
.news-detail .news-comment{
	overflow: hidden;
	width: 90%;
	margin: 70px 0 0 0;
}
.news-detail .news-title{
	text-align: center;
}
.news-detail .news-comment textarea{
	resize: none;
	width: 100%;
	height: 130px;
	padding: 10px;
	font-size: 14px;
	outline: none;
	border-radius: 4px;
}
.news-detail .news-comment button{
	float: right;
	border: 1px solid #1C86EE;
	border-radius: 4px;
	background-color: #fff;
	color: #1C86EE;
	width: 70px;
	height: 27px;
}
.news-detail .news-comment-user{
	float: left;
}
.news-detail .news-comment-list{
	clear: both;
	padding: 20px 0 0 0;
}
.news-detail .news-comment-list dl{
	margin: 0;
	padding: 10px 15px;
	border-top: 1px solid #ddd;
	overflow: hidden;
}
.news-detail .news-comment-list dl dt{
	float: left;
	padding: 10px 20px 0 0;
}
.news-detail .news-comment-list dl dt div{
	width: 42px;
	height: 42px;
	border-radius: 25px;
	overflow: hidden;
}
.news-detail .news-comment-list dl dt div img{
	width: 42px;
}
.news-detail .news-comment-list .reply{
	float: right;
}
.news-comment-user div{
	width: 50px;
	height: 50px;
	border-radius: 30px;
	overflow: hidden;
	float: left;
}
.news-comment-user div img{
	width: 50px;
	height: 50px;
}
.news-comment-user{
	height: 50px;
}
.news-comment-user>a{
	display: inline-block;
	height: 50px;
	line-height: 50px;
	margin: 0 0 0 15px;
}
/*product-detail*/
.product-nav {
    width: 100%;
    border: 1px solid #eee;
}
.product-nav dt {
    width: 100%;
    padding: 6px 0 6px 20px;
    font-weight: 400;
    background-color: #fafafa;
}
.product-nav dl dt {
    padding: 6px 0 6px 20px;
	cursor: pointer;
}
.product-nav dt span,
.product-nav dd dl dd span {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url('../../css/images/icon-arrow.png') no-repeat center;
	margin: 0 5px 0 0;
}
.product-nav dl {
	margin: 0;
}
.product-nav dd dl dd{
	display: none;
	width: 100%;
	padding: 6px 0 6px 40px;
    background-color: #fafafa;
	cursor: pointer;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.product-nav dd dl dd a{
	color: #333;
	text-decoration: none;
}
/*登录页面*/
.login,
.regist{
	margin-top: 50px;
	height: 400px;
}
.login form,
.regist form{
	border: 1px solid #ccc;
	border-radius: 5px;
}
.login .row,
.regist .row{
	text-align: center;
}
.login label,
.regist label{
	width: 70px;
	font-weight: 400;
}
.login input,
.regist input{
	width: 240px;
	outline: none;
	padding: 5px 10px 5px 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 14px;
	background-color: #fff;
	margin: 10px 0;
}
.login button,
.regist button{
	width: 240px;
	margin: 10px 0 30px 73px;
	border: 0;
	border-radius: 3px;
	height: 32px;
	background-color: #1C86EE;
	color: #fff;
	outline: none;
}
.regist .vercode input{
	width: 120px;
	margin-right: 16px;
}
.regist .vercode button{
	width: 100px;
	font-size: 14px;
	margin: 0;
}
.keep-forget{
	width: 240px;
	margin-left: 110px;
	text-align: left;
	overflow: hidden;
}
.keep-forget input{
	width: 20px;
	margin: 0;
	outline: none;
}
.keep-forget a{
	float: right;
}
/*关于我们*/
/*用户中心*/
.about-section,
.user-section{
	margin: 80px;
}
.about-section .about-nav dl,
.user-section .user-nav dl{
	border: 1px solid #eee;
	background-color: #fafafa;
	padding-bottom: 10px;
}
.about-section .about-nav dl dt,
.user-section .user-nav dl dt{
	padding: 10px 0 10px 20px;
	font-size: 16px;
	font-weight: 400;
}
.about-section .about-nav dl dd,
.user-section .user-nav dl dd{
	padding: 5px 0 5px 20px;
	cursor: pointer;
}
.about-section .about-nav dl dd a,
.user-section .user-nav dl dd a{
	color: #333;
	display: block;
	width: 100%;
	height: 100%;
}
.about-section .about-nav dl dd:hover,
.user-section .user-nav dl dd:hover{
	background-color: #eee;
}
.about-section .about-nav dl dd:hover a,
.user-section .user-nav dl dd:hover a{
	color: #1C86EE;
}
.about-section .about-container,
.user-section .user-container{
	border-top: 2px solid #eee;
}
.user-section .user-container .post-manage-title{
	margin: 20px 0 0 0;
}
.user-section .user-container .post-manage-title a{
	font-size: 14px;
	float: right;
}
.user-container .post-manage-list,
.user-container .post-edit{
	margin: 20px 0 0 0;
}
.user-container .post-manage-list dl dd{
	padding: 15px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}
.user-container .post-title a{
	color: #333;
}
.user-container .post-title h4{
	margin: 0;
}
.user-container .post-info{
	color: #979797;
	width: 70%;
	display: inline-block;
	margin: 10px 0 0 0;
}
.user-container .post-control{
	float: right;
}
.user-container .post-edit label,
.user-container .account-info-edit label,
.user-container .modify-pass label,
.user-container .user-account span:first-child{
	text-align: right;
	padding: 0 30px 0 0;
	font-weight: 400;
}
.user-container .post-edit .row,
.user-container .account-info-edit .row,
.user-container .modify-pass .row{
	margin: 15px 0;
}
.user-container .post-edit input,
.user-container .post-edit textarea,
.user-container .post-edit select,
.user-container .user-nickname input,
.user-container .modify-pass input,
.user-container .account-info-edit textarea{
	outline: none;
	padding: 5px 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	resize: none;
}
.user-container .post-edit textarea{
	height: 300px;
}
.user-container .account-info-edit textarea{
	height: 100px;
}
.user-container .post-edit .commit-post,
.user-container .account-info-edit .commit-account,
.user-container .modify-pass .commit-pass{
	border:1px solid #1C86EE;
	border-radius: 4px;
	width: 80px;
	height: 30px;
	color: #fff;
	cursor: pointer;
	outline: none;
	background-color: #1C86EE;
}
.user-container .account-info-edit{
	margin-bottom: 40px;
}
.user-container .account-info-edit .input-group{
	margin-left: -15px;
}
.user-container .account-info-edit .user-sex div{
	margin-left: 10px;
}
.user-container .post-content div{
	padding: 0;
}
.user-section .user-nav-actived{
	background-color: #eee;
}
.user-container .post-edit label span{
	color: #f33;
}
/*帖子中心*/
.post-index,
.post-list-page,
.post-detail-page{
	background-color: #f1f2f6;
	padding: 40px 0 50px 0;
}
.post-index+div.footer-sec,
.post-list-page+div.footer-sec,
.post-detail-page+div.footer-sec{
	margin: 0;
}
.post-index .post-content-top>div{
	background-color: #fff;
	height: 255px;
	padding: 0;
	margin: 0 7px;
}
.post-index .post-content-top div.col-md-6{
	width: 44%;
}
.post-index .post-content-top div.col-md-3{
	width: 26%;
	padding: 0 10px;
}
.post-index .post-content-top div h4{
	font-size: 16px;
	border-bottom: 1px solid #ddd;
	height: 35px;
	padding: 0 0 0 10px;
	line-height: 35px;
	margin: 0 0 10px 0;
}
.post-index .post-content-top div.col-md-3 ul{
	list-style: none;
	padding: 0 0 0 10px;
	margin: 0;
	height: 200px;
	overflow: hidden;
}
.post-index .post-content-top div.col-md-3 ul li{
	margin: 5px 0;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.post-index .post-content-top div.col-md-3 ul li a{
	color: #777;
}
.post-index .post-classify{
	background-color: #fff;
	padding: 0 10px;
	margin: 30px -3px 0 -8px;
}
.post-index .post-classify h4{
	font-size: 16px;
	border-bottom: 1px solid #ddd;
	height: 40px;
	padding: 0 0 0 10px;
	line-height: 40px;
	margin: 0 0 10px 0;
}
.post-index .post-classify ul{
	list-style: none;
	padding: 10px;
}
.post-index .post-classify ul li{
	margin: 15px 0;
	overflow: hidden;
}
.post-index .post-classify ul li img{
	width: 40px;
	height: 45px;
	float: left;
	margin: 5px 0 0 0;
}
.post-index .post-classify ul li .post-classify-info{
	float: left;
	margin: 0 0 0 15px;
}
.post-index .post-classify ul li .post-classify-info a{
	font-size: 18px;
	margin: 0 0 5px 0;
}
.post-index .post-classify ul li .post-classify-info p{
	margin: 0;
}
.post-index .post-classify ul li .post-classify-info p:last-child{
	font-size: 13px;
	color: #979797;
}
.post-list-page .post-classify-title h2{
	display: inline-block;
	margin: 0 15px 0 0;
}
.post-list-page .post-classify-title span span{
	color: #1C86EE;
}
.post-list-page .post-list .col-md-9{
	background-color: #fff;
	padding: 20px;
	margin: 15px 22px 0 0;
	width: 73%;
}
.post-list-page .post-list .col-md-9 dl{
	margin: 0;
}
.post-list-page .post-list .post-list-filter dt{
	display: inline-block;
	margin: 0 10px 0 0;
}
.post-list-page .post-list .post-list-filter dd{
	display: inline-block;
	padding: 0 15px;
	border-left: 1px solid #ddd;
	line-height: 1.1;
}
.post-list-page .post-list .post-list-filter dd a{
	color: #333;
}
.post-list-page .post-list .post-list-item{
	border-bottom: 1px solid #ddd;
	overflow: hidden;
	padding: 15px 0;
}
.post-list-page .post-list .post-list-item img{
	width: 50px;
	height: 50px;
	margin: 0 20px 0 0;
	float: left;
}
.post-list-page .post-list .post-list-item .post-item-info{
	float: left;
}
.post-list-page .post-list .post-list-item .post-item-info>a{
	font-size: 18px;
	margin: 0 0 10px 0;
	width: 400px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.post-list-page .post-list .post-list-item .post-item-info p{
	margin: 5px 0 0 0;
}
.post-list-page .post-list .post-list-item .post-item-info p span{
	color: #979797;
}
.post-list-page .post-list .post-list-item .post-item-info p span span{
	color: #1C86EE;
}
.post-list-page .post-list .post-list-item>span{
	float: right;
	margin: 25px 10px 0 0;
}
.post-list-page .post-list .col-md-3,
.post-detail-page .post-detail .col-md-3{
	margin-top: 15px;
	padding: 0 5px;
}
.post-list-page .post-list>.col-md-3>a,
.post-detail-page .post-detail>.col-md-3>a{
	width: 100%;
	height: 50px;
	display: block;
	background-color: #1C86EE;
	font-size: 18px;
	line-height: 50px;
	color: #fff;
	text-align: center;
	margin: 0 0 20px 0;
	cursor: pointer;
}
.post-list-page .post-list>.col-md-3>a:hover,
.post-detail-page .post-detail>.col-md-3>a:hover{
	background-color: #1C86EE !important;
	color: #fff !important;
}
.post-list-page .post-list .col-md-3 dl,
.post-detail-page .post-detail .col-md-3 dl{
	background-color: #fff; 
	margin: 0 0 20px 0;
	padding: 10px;
}
.post-list-page .post-list .col-md-3 dl dt,
.post-detail-page .post-detail .col-md-3 dl dt{
	padding: 10px;
	font-size: 16px;
	font-weight: 400;
	border-bottom: 1px solid #ddd;
}
.post-list-page .post-list .col-md-3 dl dd,
.post-detail-page .post-detail .col-md-3 dl dd{
	padding: 10px;
	border-bottom: 1px dashed #ddd;
}
.post-list-page .post-list .col-md-3 dl dd a,
.post-detail-page .post-detail .col-md-3 dl dd a{
	color: #333;
}
.post-detail-page .post-title{
	overflow: hidden;
}
.post-detail-page .post-title img{
	width: 50px;
	height: 50px;
	float: left;
	margin: 0 15px 0 0;
}
.post-detail-page .post-title h3{
	margin: 0 0 5px 0;
}
.post-detail-page .post-title p{
	margin: 0;
}
.post-detail-page .post-title p>*{
	margin: 0 10px 0 0;
}
.post-detail-page .post-title p span span{
	color: #1C86EE;
}
.post-detail-page .post-detail .col-md-9{
	padding: 0;
	margin: 0 22px 0 0;
	width: 73%;
}
.post-detail-page .post-detail .post-content{
	padding: 20px 20px 0 20px;
	background-color: #fff;	
	margin: 15px 22px 0 0;
}
.post-detail-page .post-detail .post-handle{
	padding: 70px 0 0 0;
	text-align: center;
}
.post-detail-page .post-detail .post-handle>a{
	display: inline-block;
	text-align: center;
	width: 90px;
	height: 40px;
	line-height: 40px;
	color: #333 !important;
	background-color: #fafafa !important;
	border: 1px solid #ddd;
	font-size: 13px;
}
.post-detail-page .post-detail .post-handle p{
	text-align: right;
	height: 30px;
	line-height: 30px;
	border-top: 1px dashed #ddd;
	font-size: 13px;
	padding: 0 10px;
	margin: 50px 0 10px 0;
}
.post-detail-page .post-detail .post-handle p a{
	color: #979797;
}
.post-detail-page .post-detail .post-comment-item{
	padding: 15px 20px 0 20px;
    background-color: #fff;
    margin: 2px 22px 0 0;
}
.post-detail-page .post-detail .post-comment-item .col-md-2{
	width: 14%;
}
.post-detail-page .post-detail .post-comment-item .col-md-2 img{
	width: 70px;
	height: 70px;
	margin: 5px 0 0 0;
}
.post-detail-page .post-detail .post-comment-item .col-md-10{
	padding: 0;
	width: 86%;
}
.post-detail-page .post-detail .post-comment-item .col-md-10 ul{
	padding: 0;
	list-style: none;
}
.post-detail-page .post-detail .post-comment-item .col-md-10 ul li{
	overflow: hidden;
	margin: 0 0 5px 0;
}
.post-detail-page .post-detail .post-comment-item .col-md-10 ul .comment-handle{
	height: 30px;
	line-height: 30px;
	margin: 0;
	border-top: 1px dashed #ddd;	
	overflow: hidden;
}
.post-detail-page .post-detail .post-comment-item .col-md-10 ul .comment-handle a{
	color: #979797;
}
.post-detail-page .post-detail .post-comment-item .col-md-10 ul .comment-handle a:last-child{
	float: right;
}
.post-detail-page .post-detail .post-comment-item .col-md-10 ul .comment-floor{
	display: inline-block;
	width: 45px;
	height: 26px;
	background-color: #eee;
	text-align: center;
	line-height: 26px;
	border-radius: 4px;
	float: right;
}
.post-detail-page .post-detail .post-comment-item .col-md-10 ul .floor-2,
.post-detail-page .post-detail .post-comment-item .col-md-10 ul .floor-3{
	background-color: #1C86EE;
	color: #fff;
}
.post-detail-page .post-detail .post-comment-item .comment-content{
	width: 85%;
	margin: 0 0 20px 0;
}
.post-detail-page .post-detail .post-comment-item .comment-content blockquote{
	margin: 0 0 10px 0;
	background-color: #fafafa;
	font-size: 14px;
}
.post-detail-page .post-detail .post-pager{
	padding: 15px 20px;
    background-color: #fff;
    margin: 2px 22px 0 0;
}
.post-detail-page .post-detail .back-list{
	padding: 20px;
    background-color: #fff;
    margin: 2px 22px 0 0;
}
.post-detail-page .post-detail .back-list a{
	display: block;
	width: 80px;
	height: 35px;
	color: #fff !important;
	background-color: #1C86EE !important;
	line-height: 35px;
	text-align: center;
	margin: 0 auto;
}
.post-detail-page .post-detail .pub-comment{
	padding: 20px;
    background-color: #fff;
    margin: 2px 22px 0 0;
	overflow: hidden;
}
.post-detail-page .post-detail .pub-comment textarea{
	width: 100%;
	height: 130px;
	border: 1px solid #ddd;
	padding: 10px 15px;
	font-size: 14px;
	display: block;
	resize: none;
	border-radius: 4px;
	margin: 0 0 10px 0;
	outline: none;
}
.post-detail-page .post-detail .pub-comment button{
	width: 85px;
	height: 30px;
	border-radius: 4px;
	background-color: #1C86EE;
	color: #fff;
	font-size: 14px;
	border: 0;
	float: right;
}
/*分页样式*/
.pager a{
	list-style: none;  
    text-decoration: none;  
    color: #58A0D3;  
    padding: 3px 8px;  
    margin: 0 1px;  
    border: 2px solid #f0f0f0;  
    -webkit-border-radius: 3px;  
    -moz-border-radius: 3px;  
    border-radius: 3px;  
}
.pager span {  
    display: inline-block;  
    padding: 2px 5px;  
    margin: 0 1px;  
    border: 1px solid #f0f0f0;  
    -webkit-border-radius: 4px;  
    -moz-border-radius: 4px;  
    border-radius: 4px;  
}          
.pager li {  
    display: inline-block;  
    list-style: none;  
    text-decoration: none;  
    color: #58A0D3;  
}
.pager a.first,  
.pager a.prev,  
.pager a.next,  
.pager a.end {  
    margin: 0;  
}
.pager a:hover {  
    border-color: #50A8E6;  
}
.pager span.current {  
    background: #50A8E6;  
    color: #FFF;  
    font-weight: 700;  
    border-color: #50A8E6;  
}
/*帖子首页轮播图*/
.post-index .post-index-banner{
	overflow: hidden;
	position: relative;
}
.post-index .post-index-banner .banner-img{
	position: relative;
	list-style: none;
	padding: 0;
	overflow: hidden;
	margin: 0;
	width: 600%;
	z-index: 1;
	height: 255px;
}
.post-index .post-index-banner .banner-img li{
	float: left;
}
.post-index .post-index-banner .banner-img img{
	width: 514.8px;
	height: 255px;
}
.post-index .post-index-banner .banner-img+div{
	position: absolute;
	bottom: 0;
	height: 40px;
	background-color: rgba(0, 0, 0, .3);
	width: 100%;
	z-index: 2;
	overflow: hidden;
}
.post-index .post-index-banner .banner-title{
	width: 60%;
	overflow: hidden;
	position: relative;
	height: 100%;
	float: left;
}
.post-index .post-index-banner .banner-title ul{
	list-style: none;
	width: 600%;
	padding: 0;
	overflow: hidden;
	position: relative;
	height: 100%;
	margin: 0;
}
.post-index .post-index-banner .banner-title ul li{
	width: 308px;
	float: left;
	height: 100%;
	padding: 0 0 0 30px;
}
.post-index .post-index-banner .banner-title ul li a{
	display: block;
	width: 308px;
	height: 40px;
	line-height: 40px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	cursor: pointer;
}
.post-index .post-index-banner .banner-control{
	float: left;
	width: 40%;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.post-index .post-index-banner .banner-control span{
	display: inline-block;
	width: 18px;
	height: 18px;
	border-radius: 10px;
	background-color: #9b9999;
	margin: 11px 8px 0 0;
	cursor: pointer;
}