/* =============================================================
   GENERAL STYLES
 ============================================================ */

body {
	font-family: '微软雅黑';
	font-size: 16px;
}

h1,
h2,
h4 {
	font-family: 'Open Sans', sans-serif;
}

.just-txt-div {
	padding-bottom: 30px;
	padding-top: 30px;
}

.just-txt-div p {
	padding-top: 10px;
}

.head-line {
	font-weight: 500;
	text-align: center;
	font-size: 30px;
}

.pad-set {
	padding-top: 30px;
	padding-bottom: 30px;
}

.pad-top {
	padding-top: 50px;
}


/* =============================================================
   NAVBAR & MENU STYLES
 ============================================================ */

.right-div {
	float: right;
	padding: 20px;
	font-size: 20px;
}

.logo {
	height: 57px;
	margin: 0;
	padding-top: 15px;
}
.logo a {
	display: block;
	text-shadow: 3px 3px 5px #ccc;
}
.logo a:hover {
	color: #428bca;
	display: block;
}
.logo .logo-text{
	font-size: 20px;
}
.logo .web-site{
	font-size: 12px;
}

#menu-top li a {
	color: #000;
	text-decoration: none;
	font-weight: 500;
	padding: 25px 15px 25px 15px;
	text-transform: uppercase;
	font-size: 16px;
	border-bottom: 2px solid transparent;
}

.menu-section {
	background-color: #fff;
	box-shadow: 0px 1px 15px 0px #ddd;
	width: 100%;
	position: fixed;
	z-index: 11;
}

.under-menu-section {
	height: 72px;
}

#menu-top li a.menu-top-active {
	border-bottom: 2px solid #1C86EE;
}

#menu-top li a:hover {
	background-color: #fff;
	border-bottom: 2px solid #1C86EE;
}

.navbar-inverse {
	background-color: #FFF;
	border-color: rgba(155, 153, 153, 0.23);
}

.navbar {
	min-height: 70px;
	margin-bottom: 0px;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
	border-color: transparent;
}

.navbar-toggle {
	background-color: black;
	border: 1px solid black;
}


/* =============================================================
   SLIDESHOW / CAROUSEL STYLES
 ============================================================ */
@media screen and (min-width: 768px){
	.carousel-caption {
		left: 10%;
	}
}
.carousel-caption {
	top: 50px;
}

.carousel-caption h1 {
	text-align: center;
	font-size: 26px;
	font-weight: 400;
	background-color: rgba(0, 0, 0, 0.65);
	max-width: 440px;
	padding: 15px 25px;
}

.carousel-caption h2 {
	text-align: center;
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.65);
	max-width: 340px;
	padding: 15px 25px;
}

.copyrights {
	text-indent: -9999px;
	height: 0;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
}


/* =============================================================
	PAGE STYLES
 ============================================================ */

.below-slideshow {
	color: #fff;
	background: #1C86EE;
	padding-bottom: 30px;
}

.below-slideshow i {
	padding-bottom: 15px;
}

.below-slideshow .txt-block {
	padding-top: 20px;
}

.below-slideshow h4 {
	font-weight: 400;
	font-size: 20px;
}

.below-slideshow p {
	padding-right: 30px;
	font-size: 16px;
}

.tag-home {
	padding-top: 30px;
	font-size: 30px;
	text-align: center;
}

.parallax-like {
	margin-top: 20px;
	margin-bottom: 20px;
	background: url(../img/par.jpg) no-repeat center center;
	padding: 0;
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;
	background-attachment: fixed;
}

.parallax-like .overlay {
	background: rgba(15, 15, 15, 0.66);
	font-size: 30px;
	text-align: center;
}

.vedio-style {
	border: 0px;
	width: 100%;
	min-height: 300px;
}

.just-sec {
	padding-top: 50px;
	padding-bottom: 50px;
}

.set-div {
	border: 1px solid #01a2a6;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.footer-sec {
	margin-top: 50px;
	padding-top: 30px;
	color: #fff;
	background: rgba(10, 10, 10, 0.86);
	padding-bottom: 20px;
}

.flexslider {
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
	-moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
	-o-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

.social-div a,
a:hover {
	color: #bbb;
	text-decoration: none;
}

.set-about-img {
	border: 10px double #01a2a6;
	max-height: 200px;
}


/*==========================================
   GALLERY/ PORTFOLIO STYLES
	=====================================================*/

#port-folio {
	padding-top: 30px;
	padding-bottom: 50px;
}

.portfolio-item {
	border: 1px solid #ddd;
	padding: 5px;
	border-radius: 2px;
    margin: 3px;
    box-shadow: 1px 2px 5px 0 rgba(7,17,27,.1);
	transition: .3s all linear;
}
.portfolio-item:hover{
	box-shadow: 0 4px 16px 0 rgba(7,17,27,.2);
}

.portfolio-item div {
	padding: 20px 20px 0 20px;
}

/*.portfolio-item .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	background-color: #CECECE;
	text-align: center;
	vertical-align: middle;
	-webkit-transition: opacity 300ms;
	-moz-transition: opacity 300ms;
	-o-transition: opacity 300ms;
	transition: opacity 300ms;
	cursor: pointer;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}*/

/*.portfolio-item .overlay .preview {
	position: relative;
	top: 50%;
	display: inline-block;
	margin-top: -20px;
}*/

/*.portfolio-item:hover .overlay {
	opacity: 1;
	zoom: 1;
	filter: alpha(opacity=100);
}*/

/*.overlay a,
overlay a:hover {
	color: #fff;
	text-decoration: none;
}*/

/*#port-folio .overlay p>span {
	display: block;
	padding-bottom: 20px;
}*/


/*==========================================
   GALLERY/ PORTFOLIO FILTER STYLES
	=====================================================*/

ul#filters {
	padding: 0px;
}

#filters {
	margin: 3% 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

#filters li {
	display: -webkit-inline-box;
}

#filters li span {
	display: block;
	padding: 5px 4px;
	text-decoration: none;
	color: #d51111;
	cursor: pointer;
	font-size: 18px;
}

#port-folio .portfolio-item {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width: 100%;
	/*opacity: .2;*/
	float: left;
	overflow: hidden;
}


/* =============================================================
  MEDIA QUERIES 
 ============================================================ */

@media (min-width: 740px) and (max-width: 1040px) {
	.carousel-caption h2 {
		display: none;
	}
}

@media (min-width: 100px) and (max-width: 740px) {
	.carousel-caption h1 {
		display: none;
	}
	.carousel-caption h2 {
		display: none;
	}
}
/*override*/
.flexslider{
	margin: 0 0 40px 0;
}