/* =============================================================
   GENERAL STYLES
 ============================================================ */

body {
	font-family: '微软雅黑';
	font-size: 14px;
}

h1,
h2,
h4 {
	font-family: 'Open Sans', sans-serif;
}
a:hover{
	color: #1C86EE !important;
	background-color: transparent !important;
}
.just-txt-div {
	padding-bottom: 30px;
	padding-top: 30px;
}

.just-txt-div p {
	padding-top: 10px;
}

.head-line {
	font-weight: 500;
	text-align: center;
	font-size: 30px;
}

.pad-set {
	padding-top: 30px;
	padding-bottom: 30px;
}

.pad-top {
	padding-top: 50px;
}


/* =============================================================
   NAVBAR & MENU STYLES
 ============================================================ */
 
.right-div {
	float: right;
	padding: 20px;
	font-size: 20px;
}

.logo {
	height: 57px;
	margin: 0;
	padding-top: 15px;
}
.logo a {
	display: block;
	text-shadow: 3px 3px 5px #ccc;
}
.logo a:hover {
	color: #428bca;
	display: block;
}
.logo .logo-text{
	font-size: 20px;
}
.logo .web-site{
	font-size: 12px;
}

#menu-top li a {
	color: #000;
	text-decoration: none;
	font-weight: 500;
	padding: 25px 15px 25px 15px;
	font-size: 16px;
	border-bottom: 2px solid transparent;
}

.menu-section {
	background-color: #fff;
	box-shadow: 0px 1px 15px 0px #ddd;
	width: 100%;
	position: fixed;
	z-index: 11;
}

.under-menu-section {
	height: 72px;
}

#menu-top li a.menu-top-active {
	border-bottom: 2px solid #1C86EE;
}

.navbar-inverse {
	background-color: #FFF;
	border-color: rgba(155, 153, 153, 0.23);
}

.navbar {
	min-height: 70px;
	margin-bottom: 0px;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
	border-color: transparent;
}

.navbar-toggle {
	background-color: black;
	border: 1px solid black;
}
#menu-top{
	 margin-right: 0;
 }
#menu-top li{
	 position: relative;
 }
#menu-top li ul{
	 display: none;
	 padding: 0;
	 list-style: none;
	 position: absolute;
	 background-color: #fff;
 }
#menu-top ul li a{
	display: block;
	color: #000;
	text-decoration: none;
	font-weight: 500;
	padding: 5px 15px;
	font-size: 16px;
	border-top: 1px solid #fff;
	white-space: nowrap;
 }
#menu-top ul li:hover ul{
	 display: block;
 }
#menu-top li:hover ul{
	display: block;
 }
#menu-top .btn-login{
	display: inline-block;
	line-height: 27px;
	text-align: center;
	width: 60px;
	height: 27px;
	border-radius: 3px;
	border: 1px solid #1C86EE;
	color: #1C86EE; 
	font-size: 14px;
	margin-top: 20px;
}
#menu-top .btn-register{
	display: inline-block;
	line-height: 27px;
	text-align: center;
	width: 60px;
	height: 27px;
	border-radius: 3px;
	border: 1px solid #1C86EE;
	background-color: #1C86EE;
	color: #fff; 
	font-size: 14px;
	margin-top: 21px;
}
/* =============================================================
   SLIDESHOW / CAROUSEL STYLES
 ============================================================ */
@media screen and (min-width: 768px){
	.carousel-caption {
		left: 10%;
	}
}
.carousel-caption {
	top: 50px;
}

.carousel-caption h1 {
	text-align: center;
	font-size: 26px;
	font-weight: 400;
	background-color: rgba(0, 0, 0, 0.65);
	max-width: 440px;
	padding: 15px 25px;
}

.carousel-caption h2 {
	text-align: center;
	font-size: 22px;
	font-weight: 400;
	text-transform: uppercase;
	background-color: rgba(0, 0, 0, 0.65);
	max-width: 340px;
	padding: 15px 25px;
}

.copyrights {
	text-indent: -9999px;
	height: 0;
	line-height: 0;
	font-size: 0;
	overflow: hidden;
}


/* =============================================================
	PAGE STYLES
 ============================================================ */

.below-slideshow {
	color: #fff;
	background: #1C86EE;
	padding-bottom: 30px;
}

.below-slideshow i {
	padding-bottom: 15px;
}

.below-slideshow .txt-block {
	padding-top: 20px;
}

.below-slideshow h4 {
	font-weight: 400;
	font-size: 20px;
}

.below-slideshow p {
	padding-right: 30px;
	font-size: 16px;
}

.tag-home {
	padding-top: 30px;
	font-size: 30px;
	text-align: center;
}

.parallax-like {
	margin-top: 20px;
	margin-bottom: 20px;
	background: url(../img/par.jpg) no-repeat center center;
	padding: 0;
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;
	background-attachment: fixed;
}

.parallax-like .overlay {
	background: rgba(15, 15, 15, 0.66);
	font-size: 30px;
	text-align: center;
}

.vedio-style {
	border: 0px;
	width: 100%;
	min-height: 300px;
}

.just-sec {
	padding-top: 50px;
	padding-bottom: 50px;
}

.set-div {
	border: 1px solid #01a2a6;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

.footer-sec {
	margin-top: 50px;
	padding-top: 30px;
	color: #fff;
	background: rgba(10, 10, 10, 0.86);
	padding-bottom: 20px;
}

.flexslider {
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
	-moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
	-o-box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0);
}

.social-div a,
a:hover {
	color: #bbb;
	text-decoration: none;
}

.set-about-img {
	border: 10px double #01a2a6;
	max-height: 200px;
}


/*==========================================
   GALLERY/ PORTFOLIO STYLES
	=====================================================*/

#port-folio {
	padding-top: 30px;
	padding-bottom: 50px;
}

.portfolio-item {
	border: 1px solid #ddd;
	padding: 5px;
	border-radius: 2px;
    margin: 3px;
    box-shadow: 1px 2px 5px 0 rgba(7,17,27,.1);
	transition: .3s all linear;
}
.portfolio-item:hover{
	box-shadow: 0 4px 16px 0 rgba(7,17,27,.2);
}

.portfolio-item div {
	padding: 20px 20px 0 20px;
}

/*==========================================
   GALLERY/ PORTFOLIO FILTER STYLES
	=====================================================*/

ul#filters {
	padding: 0px;
}

#filters {
	margin: 3% 0;
	padding: 0;
	list-style: none;
	text-align: center;
}

#filters li {
	display: -webkit-inline-box;
}

#filters li span {
	display: block;
	padding: 5px 4px;
	text-decoration: none;
	color: #d51111;
	cursor: pointer;
	font-size: 18px;
}

#port-folio .portfolio-item {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	width: 100%;
	/*opacity: .2;*/
	float: left;
	overflow: hidden;
	margin: 0 0 40px 0;
}
.portfolio-item .product-img{
	height: 310px;
	padding: 0;
}
.portfolio-item img{
	max-height: 100%;
	margin: 0 auto;
}

/* =============================================================
  MEDIA QUERIES 
 ============================================================ */

@media (min-width: 740px) and (max-width: 1040px) {
	.carousel-caption h2 {
		display: none;
	}
}

@media (min-width: 100px) and (max-width: 740px) {
	.carousel-caption h1 {
		display: none;
	}
	.carousel-caption h2 {
		display: none;
	}
}
/*override*/
.flexslider{
	margin: 0 0 40px 0;
}

/*news*/
.news-section{
	padding: 40px 0 40px 0;
}
.news-section .news-item{
	min-height: 100px;
	padding: 15px 0 15px 0;
	border-top:1px solid #ccc;
	position: relative;
}
.news-section .news-item:last-child{
	border-bottom: 1px solid #ccc; 
}
.news-section .news-item .news-img{
	text-align: center;
}
.news-section .news-item .news-img img{
	max-width: 100%;
	max-height: 200px;
}
.news-item h3{
	margin-top: 0;
}
.news-item a{
	color: #000;
}
.news-item .news-info{
	position: absolute;
	bottom: 15px;
	margin-left: 35%;
	font-size: 14px;
}
.news-link{
	margin: 0 0 30px 0;
}
.news-link h3{
	text-align: center;
	margin: 0;
	padding: 10px 0;
	font-size: 20px;
	border-top: 2px solid #1C86EE;
	border-bottom: 1px dotted #ccc;
}
.news-link div{
	padding-left: 13px;
	margin: 10px 0 10px 3px;
	background: url('../../css/images/icon-arrow.png') no-repeat 3px 7px;
}
.news-link div a{
	color: #000;
}
.news-link div span{
	display: block;
	font-size: 12px;
}
.news-detail .news-comment{
	overflow: hidden;
	width: 90%;
	margin: 70px 0 0 0;
}
.news-detail .news-title{
	text-align: center;
}
.news-detail .news-comment textarea{
	resize: none;
	width: 100%;
	height: 130px;
	padding: 10px;
	font-size: 14px;
	outline: none;
	border-radius: 4px;
}
.news-detail .news-comment button{
	float: right;
	border: 1px solid #1C86EE;
	border-radius: 4px;
	background-color: #fff;
	color: #1C86EE;
	width: 70px;
	height: 27px;
}
.news-detail .news-comment-user{
	float: left;
}
.news-detail .news-comment-list{
	clear: both;
	padding: 20px 0 0 0;
}
.news-detail .news-comment-list dl{
	margin: 0;
	padding: 10px 15px;
	border-top: 1px solid #ddd;
	overflow: hidden;
}
.news-detail .news-comment-list dl dt{
	float: left;
	padding: 10px 20px 0 0;
}
.news-detail .news-comment-list dl dt div{
	width: 42px;
	height: 42px;
	border-radius: 25px;
	overflow: hidden;
}
.news-detail .news-comment-list dl dt div img{
	width: 42px;
}
.news-detail .news-comment-list .reply{
	float: right;
}
/*product-detail*/
.product-nav {
    width: 100%;
    border: 1px solid #eee;
}
.product-nav dt {
    width: 100%;
    padding: 6px 0 6px 20px;
    font-weight: 400;
    background-color: #fafafa;
}
.product-nav dl dt {
    padding: 6px 0 6px 20px;
	cursor: pointer;
}
.product-nav dt span,
.product-nav dd dl dd span {
	display: inline-block;
	width: 10px;
	height: 10px;
	background: url('../../css/images/icon-arrow.png') no-repeat center;
	margin: 0 5px 0 0;
}
.product-nav dl {
	margin: 0;
}
.product-nav dd dl dd{
	display: none;
	width: 100%;
	padding: 6px 0 6px 40px;
    background-color: #fafafa;
	cursor: pointer;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.product-nav dd dl dd a{
	color: #333;
	text-decoration: none;
}
/*登录页面*/
.login,
.regist{
	margin-top: 50px;
	height: 400px;
}
.login h3{
	
}
.login form,
.regist form{
	border: 1px solid #ccc;
	border-radius: 5px;
}
.login .row,
.regist .row{
	text-align: center;
}
.login label,
.regist label{
	width: 70px;
	font-weight: 400;
}
.login input,
.regist input{
	width: 240px;
	outline: none;
	padding: 5px 10px 5px 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 14px;
	background-color: #fff;
	margin: 10px 0;
}
.login button,
.regist button{
	width: 240px;
	margin: 10px 0 30px 73px;
	border: 0;
	border-radius: 3px;
	height: 32px;
	background-color: #1C86EE;
	color: #fff;
}
.regist .vercode input{
	width: 120px;
	margin-right: 16px;
}
.regist .vercode button{
	width: 100px;
	font-size: 14px;
	margin: 0;
}
/*关于我们*/
.about-section{
	margin: 80px;
}
.about-section .about-nav dl{
	border: 1px solid #eee;
	background-color: #fafafa;
	padding-bottom: 10px;
}
.about-section .about-nav dl dt{
	padding: 10px 0 10px 20px;
}
.about-section .about-nav dl dd{
	padding: 5px 0 5px 20px;
	cursor: pointer;
}
.about-section .about-nav dl dd a{
	color: #333;
}
.about-section .about-nav dl dd:hover{
	background-color: #eee;
}
.about-section .about-nav dl dd:hover a{
	color: #1C86EE;
}
.about-section .about-container{
	border-top: 2px solid #eee;
}