<form class="form-horizontal ajaxSubmit user-block-form" action="{:u()}" method="post">
	<div class="form-group">
	  <div class="col-sm-offset-1 col-sm-10">
		<div class="alert alert-warning">
			不通过审核后，用户将收到不通过短信通知。
		</div>
		<h4>不通过原因:</h4>
		<foreach name="unpassArr" item="v" key="k">
		<div class="checkbox">
			<label>
			  <input type="checkbox" value="unpass_type[{$k}]">
			  {$v}
			</label>
		</div>
		</foreach>
	  </div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-1 col-sm-10">
			<textarea style="padding-left:0;" class="form-control" rows="5" name="verify_note"></textarea>
		</div>
	</div>
	<div class="form hide">
		<div class="col-sm-2 ">状态</div>
		<div class="col-sm-6">{:w('select/radio', $statusList)}</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<input type="hidden" name="id" value="{$row.id}" />
			<button type="submit" class="btn btn-primary">提交</button>
		</div>
	</div>
</form>