<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<title>{$title}</title>
	<meta name="keywords" content="{$keywords}" />
	<meta name="description" content="{$description}" />
	<link rel="shortcut icon" href="Public/admin.ico" type="image/x-icon"/>
	<script> var controller = '{$Think.CONTROLLER_NAME}'; </script>
	<import type="css" file="css.bootstrap#min,css.dashboard" />
	<import type="js" file="js.lib.jquery#min,js.lib.bootstrap#min,js.lib.layer.layer" />
</head>
<body>
<style>
	nav,.sidebar{display:none;}
	body{padding:10px 15px;}
</style>
<div class="table-responsive">
	<form class="form-inline search">
		<input  class="form-control" name="id" type="text" placeholder="ID" value="{$search.id}" pattern="[0-9]+" >
		<input  class="form-control" name="username" type="text" placeholder="输入用户名称" value="{$search.username}" >
		<input  class="form-control" name="tel" type="text" placeholder="输入手机号" value="{$search.tel}" pattern="[0-9]+" >
		<div class="form-group">{:w('select/index', $adminList)}</div>
		<div class="form-group">
			{:w('select/index', $orderBy)}
		</div>
		<input  class="form-control btn-info" type="submit" value="搜索" >
	</form>
	<table class="table table-striped user-list">
		<tr>  
		  <th>#</th>
		  <th>头像</th>
		  <th>名称</th>
		  <if condition="$user"><th>级别</th></if>
		  <th style="text-align:center">vip</th>
		  <th>营业额</th> 
		  <th>余额</th> 
		  <th>提现</th> 
		  <th>手机</th> 
		  <th>首次登陆</th>
		  <th>最后登录</th>
		</tr>
		<foreach name="userList" item="v">
		<tr>
			<td>{$v.id}</td>
		<if condition="$user">
			<td><if condition="$v['avatar']"><img src="{$v.avatar}" width=25 /></if></td>
		</if>
			<td>{$v.username}</td>
			<td><if condition="$user['id'] eq $v['pid']">一级下线<else />二级下线</if></td>
			<td style="text-align:center"><if condition="$v['vip']"> 是 <else/>
					<if condition="$v['vip'] lt 1 && $v['vipApply']">
						<a href="{$v.vipApply.adminUrl}" class="red"><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>申请中</a>
					<else />
						无
					</if>
				</if>
			</td>
			<td class="price">{$v.turnover}</td>
			<td class="price">{$v.money}</td>
			<td class="price">{$v.withdraw}</td>
			<td>{$v.tel}</td>
			<td>{:date("y-m-d H:i:s",$v['add_time'])}</td>
			<td>{:date("y-m-d H:i:s",$v['update_time'])}</td>
		</tr>
		</foreach>
	</table>
	<div class="pager">{$page}</div>
</div>
<import type="js" file="js.admin.user" />
</body>

</html>